<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
  <body>
    <section class="main_content_iner bg-drak"
    layout:fragment="content"
    id="content">
    <div class="container-fluid p-0">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="dashboard_header mb_50">
            <div class="row">
              <div class="col-lg-6">
                <div class="dashboard_header_title">
                  <h3>ProductDetails New</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-11">
          <form th:action="@{/admin/productDetails/saveOrUpdate}" method="post" th:object="${productDetail}" enctype="multipart/form-data">
            <input type="text" hidden th:field="*{productDetailId}">
            <div class="d-flex flex-wrap">
              <div class="col-md-5">
                <div class="card">
                  <div class="card-header d-flex align-items-center bg-white">
                    <h4>Product Detail</h4>
                  </div>
                  <div class="card-body">
                      <div class="form-group mb-4 d-flex justify-content-between mt-3 form-select-price">
                        <div class="form-group w-100 ms-2" readonly>
                          <label for="">Product Name</label>
                          <select class="form-select form-control" name="" id="" th:field="*{productId}">
                            <option
                              th:each="item : ${listProducts}"
                              class="m-2 name-product"
                              th:value="${item.productId}"
                              th:text="${item.productName}"
                              th:select="${item.productId == productDetail.productId}"
                              readonly
                            >
                          </option>
                          </select>
                        </div>
                      </div>
                      <!-- <div class="mb-4 input-object">
                        <label for="categoryName">Product Name Detail</label>
                        <input type="text"
                          class="form-control" th:field="*{productDetailName}" placeholder="Name...">
                      </div> -->
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" th:field="*{description}" name="description" rows="3" placeholder="Description"></textarea>
                        <small
                  th:if="${#fields.hasErrors('description')}"
                  class="form-text text-muted"
                  >Description is required</small
                >
                      </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-3 form-select-price">
                          <div class="form-group">
                            <label for="">Quantity</label>
                            <input type="number" class="form-control" th:field="*{quantity}" name="" id="" aria-describedby="helpId" placeholder="$">
                            <small
                  th:if="${#fields.hasErrors('quantity')}"
                  class="form-text text-danger"
                  >Quantity is required</small
                >
                          </div>
                          <div class="form-group">
                            <label for="">Unit Price</label>
                            <input type="number" class="form-control" th:field="*{unitPrice}" name="" id="" aria-describedby="helpId" placeholder="$">
                            <small
                  th:if="${#fields.hasErrors('unitPrice')}"
                  class="form-text text-danger"
                  >Quantity is required</small
                >
                          </div>
                          <div class="form-group">
                            <label for="">Style</label>
                            <select class="form-select form-control" name="" id="" th:field="*{style}">
                              <option th:value="1">Android</option>
                              <option th:value="2">Điệm thoại phổ thông</option>
                              <option th:value="3">iPhone(iOS)</option>
                            </select>
                          </div>
                        </div>
                        <div class="mb-4 input-object">
                          <label for="categoryName">Discount</label>
                          <input type="number"
                            class="form-control" th:field="*{discount}" name="categoryName" id="categoryName" placeholder="%"/>
                            <small
                  th:if="${#fields.hasErrors('discount')}"
                  class="form-text text-danger"
                  >Discount is required</small
                >
                        </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <div class="card-header d-flex align-items-center bg-white">
                    <h4>Information</h4>
                  </div>
                  <div class="card-body">
                        <div class="form-group d-flex justify-content-between mt-3 form-select-price">
                          <div class="form-group w-50 me-2">
                            <label for="">Width</label>
                            <input type="number" class="form-control" th:field="*{width}" name="" id="" aria-describedby="helpId" placeholder="inch">
                          </div>
                          <div class="form-group w-50 ms-2">
                            <label for="">Height</label>
                            <input type="number" class="form-control" th:field="*{height}" name="" id="" aria-describedby="helpId" placeholder="inch">
                          </div>
                        </div>
                        <div class="form-group d-flex justify-content-between mt-3 form-select-price">
                          <div class="form-group w-50 me-2">
                            <label for="">Weight</label>
                            <input type="number" class="form-control" th:field="*{weight}" name="" id="" aria-describedby="helpId" placeholder="gam">
                          </div>
                          <div class="form-group w-50 ms-2">
                            <label for="">Color</label>
                            <select class="form-select form-control" name="" id="" th:field="*{colorId}">
                              <option
                        th:each="item : ${listColors}"
                        class="m-2"
                        th:value="${item.colorId}"
                        th:text="${item.colorName}"
                        th:select="${item.colorId == productDetail.colorId}"
                      ></option>
                            </select>
                          </div>
                        </div>
                        <div class="mb-4 input-object">
                          <div class="form-group d-flex justify-content-between mt-3 form-select-price">
                            <div class="form-group w-100 me-2">
                              <label for="">Haute</label>
                              <input type="number" class="form-control" th:field="*{haute}" name="" id="" aria-describedby="helpId" placeholder="gam">
                            </div>
                          </div>
                        </div>  
                  </div>
                </div>
              </div>
              <div class="col-md-4 ps-3 pe-3">
                <div class="card">
                  <div class="card-header d-flex align-items-center bg-white">
                    <h4>Media</h4>
                  </div>
                  <div class="card-body">
                    <figure class="figure pt-3 pb-3 pe-5 ps-5">
                      <script>
                        function chooseFile(fileInput) {
                      if (fileInput.files && fileInput.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                          $("#image").attr("src", e.target.result);
                        };

                        reader.readAsDataURL(fileInput.files[0]);
                      }
                    }
                      </script>

                      <img th:if="${!productDetail.isEdit}" src="/static/img/upload.svg" id="image" class="figure-img img-fluid rounded" alt="">
                      <img th:if="${productDetail.isEdit}" th:src="@{'/static/images/'+${productDetail.image}}" id="image" class="figure-img img-fluid rounded" alt="">
                    </figure>
                    <div class="form-group form-upload">
                      <input
                      onchange="chooseFile(this)"
                      type="file"
                      class="form-control-file"
                      name="imageFile"
                      id="imageFile"
                    />
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <div class="card-header d-flex align-items-center bg-white">
                    <h4>Size</h4>
                  </div>
                  <div class="card-body">
                        <div class="form-group d-flex justify-content-between mt-3 form-select-price">
                          <div class="form-group w-50 me-2">
                            <label for="">Memory Storage</label>
                            <select class="form-select form-control" name="" id="" th:field="*{memoryStorageId}">
                              <option
                                th:each="item : ${listMemoryStorages}"
                                class="m-2 name-product"
                                th:value="${item.memoryStorageId}"
                                th:text="${item.memoryStorageName}"
                                th:select="${item.memoryStorageId == productDetail.memoryStorageId}"
                                readonly
                              >
                            </option>
                            </select>
                          </div>
                          <div class="form-group w-50 ms-2">
                            <label for="">Ram</label>
                            <select class="form-select form-control" name="" id="" th:field="*{ramId}">
                              <option
                                th:each="item : ${listRams}"
                                class="m-2"
                                th:value="${item.ramId}"
                                th:text="${item.sizeRam}"
                                th:select="${item.sizeRam == productDetail.ramId}"
                              ></option>
                            </select>
                          </div>
                        </div>
                  </div>
                </div>
                <button
                type="submit"
                class="btn btn-outline-primary mt-3 w-100 mb-2"
              >
              <span th:if="${!productDetail.isEdit}">Create</span>
              <span th:if="${productDetail.isEdit}">Update</span>
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </section>
  </body>
</html>
