<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{home/index.html}"
>
  <head></head>

  <body>
    <section layout:fragment="content" id="content">
      <!-- Mobile Header Section Start -->
      <div class="bg-white mobile-header d-lg-none sticky-nav ptb-20px">
        <div class="container">
          <div class="row align-items-center">
            <!-- Header Logo Start -->
            <div class="col">
              <div class="header-logo">
                <a href="index.html"
                  ><img
                    class="img-responsive"
                    th:src="@{/static/images1/logo/logo.png}"
                    alt="logo.jpg"
                /></a>
              </div>
            </div>
            <!-- Header Logo End -->

            <!-- Header Tools Start -->
            <div class="col-auto">
              <div class="header-tools justify-content-end">
                <div class="cart-info d-flex align-self-center">
                  <a href="#offcanvas-wishlist" class="heart offcanvas-toggle"
                    ><i class="lnr lnr-heart"></i><span>Wishlist</span></a
                  >
                  <a href="#offcanvas-cart" class="bag offcanvas-toggle"
                    ><i class="lnr lnr-cart"></i><span>My Cart</span></a
                  >
                </div>
                <div class="mobile-menu-toggle">
                  <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                    <svg viewBox="0 0 800 600">
                      <path
                        d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                        id="top"
                      ></path>
                      <path d="M300,320 L540,320" id="middle"></path>
                      <path
                        d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                        id="bottom"
                        transform="translate(480, 320) scale(1, -1) translate(-480, -318) "
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <!-- Header Tools End -->
          </div>
        </div>
      </div>

      <!-- Search Category Start -->
      <!-- Search Category End -->
      <div class="mobile-category-nav d-lg-none mb-5px">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!--=======  category menu  =======-->
              <div class="hero-side-category">
                <!-- Category Toggle Wrap -->
                <div class="category-toggle-wrap">
                  <!-- Category Toggle -->
                  <button class="category-toggle">
                    <i class="fa fa-bars"></i> All Categories
                  </button>
                </div>
              </div>
              <!--=======  End of category menu =======-->
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile Header Section End -->
      <!-- OffCanvas Wishlist Start -->
      <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
        <div class="inner">
          <div class="head">
            <span class="title">Wishlist</span>
            <button class="offcanvas-close">×</button>
          </div>
          <div class="body customScroll">
            <ul class="minicart-product-list">
              <li>
                <a href="single-product.html" class="image"
                  ><img
                    th:src="@{/static/images1/product-image/1.jpg}"
                    alt="Cart product Image"
                /></a>
                <div class="content">
                  <a href="single-product.html" class="title"
                    >Walnut Cutting Board</a
                  >
                  <span class="quantity-price"
                    >1 x <span class="amount">$100.00</span></span
                  >
                  <a href="#" class="remove">×</a>
                </div>
              </li>
              <li>
                <a href="single-product.html" class="image"
                  ><img
                    th:src="@{/static/images1/product-image/2.jpg}"
                    alt="Cart product Image"
                /></a>
                <div class="content">
                  <a href="single-product.html" class="title"
                    >Lucky Wooden Elephant</a
                  >
                  <span class="quantity-price"
                    >1 x <span class="amount">$35.00</span></span
                  >
                  <a href="#" class="remove">×</a>
                </div>
              </li>
              <li>
                <a href="single-product.html" class="image"
                  ><img
                    th:src="@{/static/images1/product-image/3.jpg}"
                    alt="Cart product Image"
                /></a>
                <div class="content">
                  <a href="single-product.html" class="title"
                    >Fish Cut Out Set</a
                  >
                  <span class="quantity-price"
                    >1 x <span class="amount">$9.00</span></span
                  >
                  <a href="#" class="remove">×</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="foot">
            <div class="buttons">
              <a
                href="wishlist.html"
                class="btn btn-dark btn-hover-primary mt-30px"
                >view wishlist</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- OffCanvas Wishlist End -->

      <!-- OffCanvas Cart Start -->
      <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
        <div class="inner">
          <div class="head">
            <span class="title">Cart</span>
            <button class="offcanvas-close">×</button>
          </div>
          <div class="body customScroll">
            <ul class="minicart-product-list">
              <li>
                <a href="single-product.html" class="image"
                  ><img
                    th:src="@{/static/images1/product-image/1.jpg}"
                    alt="Cart product Image"
                /></a>
                <div class="content">
                  <a href="single-product.html" class="title"
                    >Walnut Cutting Board</a
                  >
                  <span class="quantity-price"
                    >1 x <span class="amount">$100.00</span></span
                  >
                  <a href="#" class="remove">×</a>
                </div>
              </li>
              <li>
                <a href="single-product.html" class="image"
                  ><img
                    th:src="@{/static/images1/product-image/2.jpg}"
                    alt="Cart product Image"
                /></a>
                <div class="content">
                  <a href="single-product.html" class="title"
                    >Lucky Wooden Elephant</a
                  >
                  <span class="quantity-price"
                    >1 x <span class="amount">$35.00</span></span
                  >
                  <a href="#" class="remove">×</a>
                </div>
              </li>
              <li>
                <a href="single-product.html" class="image"
                  ><img
                    th:src="@{/static/images1/product-image/3.jpg}"
                    alt="Cart product Image"
                /></a>
                <div class="content">
                  <a href="single-product.html" class="title"
                    >Fish Cut Out Set</a
                  >
                  <span class="quantity-price"
                    >1 x <span class="amount">$9.00</span></span
                  >
                  <a href="#" class="remove">×</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="foot">
            <div class="sub-total">
              <strong>Subtotal :</strong>
              <span class="amount">$144.00</span>
            </div>
            <div class="buttons">
              <a href="cart.html" class="btn btn-dark btn-hover-primary mb-30px"
                >view cart</a
              >
              <a href="checkout.html" class="btn btn-outline-dark current-btn"
                >checkout</a
              >
            </div>
            <p class="minicart-message">
              Free Shipping on All Orders Over $100!
            </p>
          </div>
        </div>
      </div>
      <!-- OffCanvas Cart End -->

      <!-- OffCanvas Search Start -->
      <!-- OffCanvas Search End -->
      <div class="offcanvas-overlay"></div>

      <!-- Breadcrumb Area Start -->
      <div class="breadcrumb-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-content">
                <ul class="nav">
                  <li><a href="index.html">Home</a></li>
                  <li>Đăng nhập / Đăng ký</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb Area End-->
      <!-- login area start -->
      <div class="login-register-area mb-50px mt-40px">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 ms-auto me-auto">
              <div class="login-register-wrapper">
                <div class="login-register-tab-list nav">
                  <a th:href="@{/users/login}">
                    <h4>Đăng nhập</h4>
                  </a>
                  <a class="active" th:href="@{/users/register}">
                    <h4>Đăng ký</h4>
                  </a>
                </div>
                <div class="tab-content">
                  <div class="tab-pane">
                    <div class="login-form-container">
                      <div class="login-register-form">
                        <form th:action="@{/doLogin}" method="post">
                          <input
                            type="text"
                            name="username"
                            placeholder="Username"
                          />
                          <input
                            type="password"
                            name="password"
                            placeholder="Password"
                          />
                          <div class="button-box">
                            <div
                              class="login-toggle-btn d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <input type="checkbox" name="remember-me" />
                                <span
                                  class="flote-none"
                                  href="javascript:void(0)"
                                  >Nhớ tài khoản</span
                                >
                              </div>
                              <div>
                                <a href="#">Quên mật khẩu?</a>
                              </div>
                            </div>
                            <button type="submit"><span>Login</span></button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane active">
                    <div class="login-form-container">
                      <div class="login-register-form">
                        <form
                          th:action="@{/users/save}"
                          method="post"
                          th:object="${user}"
                        >
                          <input type="text" th:field="*{userId}" hidden />
                          <div>
                            <div th:if="${noneEmail!=null}" class="mb-2">
                              <span style="color:red;" th:text="${noneEmail}"></span>
                            </div>
                            <input
                            type="text"
                            placeholder="Email"
                            th:field="*{email}"
                            
                          />
                          
                          </div>
                          <div>
                            <div th:if="${noneUsername!=null}" class="mb-2">
                              <span style="color:red;" th:text="${noneUsername}"></span>
                            </div>
                            <input
                            type="text"
                            placeholder="Tài khoản"
                            th:field="*{username}"
                            
                          />
                          </div>
                          <div>
                            <span
                            id="passwordHid"
                            th:if="${#fields.hasErrors('password')}"
                            class="form-text text-muted text-danger"
                            >Mậu khẩu phải từ 6 ký tự trở lên.</span
                          >
                            <input
                            placeholder="Mật khẩu"
                            type="password"
                            th:field="*{password}"
                            
                          />
                          
                          </div>
                          <div>
                            <label for "image" class="label"> CAPTCHA</label>
                            <div th:if="${message!=null}" class="mb-2">
                              <span style="color:red;" th:text="${message}"></span>
                            </div>
                            <input type="image" id="image" th:src="*{'data:realCaptcha/jpg;base64,'+realCaptcha}">
                            <input type="hidden" th:field="*{hiddenCaptcha}"/><br>
                            <input type="text" id="captchatext" th:field="*{captcha}"  placeholder="Captcha..."/>
                          </div>
                          <div class="button-box">
                            <button type="submit"><span>Đăng ký</span></button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- login area end -->
    </section>
  </body>
</html>
