<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{home/index.html}"
>
  <head></head>
  <body>
    <section layout:fragment="content" id="content">
      <div class="breadcrumb-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-content">
                <ul class="nav">
                  <li><a href="index.html">Home</a></li>
                  <li>Cart</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details-area mtb-60px">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <div class="product-details-img product-details-tab">
                <div class="zoompro-wrap zoompro-2">
                  <div
                    class="zoompro-border zoompro-span"
                    th:each="item : ${listProductDetailItem}"
                  >
                    <img
                      class="zoompro"
                      th:src="@{'/static/images/'+${item.image}}"
                      data-zoom-image="/static/images/+${item.image}"
                      alt=""
                    />
                  </div>
                </div>
                <div id="gallery" class="product-dec-slider-2">
                  <div
                    class="single-slide-item"
                    th:each="item : ${listProductDetailItem}"
                  >
                    <img
                      class="img-responsive"
                      data-image="/static/images/+${item.image}"
                      data-zoom-image="/static/images/+${item.image}"
                      th:src="@{'/static/images/'+${item.image}}"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
              <div class="product-details-content">
                <p class="reference">Reference:<span> demo_17</span></p>
                <h2 th:text="${productDetail.product.productName}"></h2>
                <div class="pro-details-rating-wrap">
                  <div class="rating-product">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <span class=""
                    ><a class="reviews" href="#">Read reviews (1)</a></span
                  >
                </div>
                <div class="pricing-meta">
                  <ul>
                    <li class="old-price">
                      [[${#numbers.formatDecimal(productDetail.unitPrice, 0,
                      'COMMA', 0, 'POINT')}]]đ
                    </li>
                    <li class="cuttent-price">
                      [[${#numbers.formatDecimal(productDetail.unitPrice -
                      productDetail.unitPrice*productDetail.discount/100, 0,
                      'COMMA', 0, 'POINT')}]]đ
                    </li>
                    <li class="discount-flag">
                      Sale [[${productDetail.discount}]]%
                    </li>
                  </ul>
                </div>
                <div class="pro-details-list flex-wrap d-flex pt-2 pb-2">
                  <div class="d-block" th:each="item : ${listMemory}">
                    <a
                      name=""
                      id=""
                      class="btn border text-primary ms-3 me-3 mb-1 d-flex"
                      th:href="@{'/users/view/'+${productDetailId}+'&memory='+${item.memoryStorageId}}"
                      role="button"
                    >
                      <input
                        type="radio"
                        name="memory"
                        th:checked="${item.memoryStorageId == memoryStorageId}"
                        readonly
                      />
                      <span class="d-block text-dark ms-1"
                        >[[${item.memoryStorageName}]]GB
                      </span>
                    </a>
                  </div>
                </div>
                <div class="mt-1 mb-2">
                  <span class="text-dark">Chọn màu để xem giá</span>
                </div>
                <div class="d-flex flex-wrap">
                  <ul class="d-flex flex-wrap justify-content-start">
                    <li th:each="item : ${listProductDetailItem}">
                      <a
                        th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                        class="d-flex me-1 border-1 text-primary border btn mb-1"
                      >
                        <input
                          type="radio"
                          name="product"
                          th:checked="${item.productDetailId == productDetailId}"
                          readonly
                        />
                        <img
                          th:src="@{'/static/images/'+${item.image}}"
                          alt=""
                          width="40px"
                        />
                        <div>
                          <span class="d-block text-dark"
                            >[[${item.color.colorName}]]</span
                          >
                          <span width="80%">
                            [[${#numbers.formatDecimal(item.unitPrice -
                            item.unitPrice*item.discount/100, 0, 'COMMA', 0,
                            'POINT')}]]đ</span
                          >
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <hr style="background-color: #8888" />
                <div class="row d-flex flex-wrap">
                  <button type="button" class="btn btn-primary col-8 p-3 me-1">
                    <a
                      th:href="@{'/cart/'+${productDetail.productDetailId}}"
                      class="text-light"
                      >Mua Ngay</a
                    >
                  </button>
                  <span
                    id="buttonAdd2Cart"
                    th:pid="${productDetail.productDetailId}"
                    class="btn border col-3 p-3 btn-outline-primary"
                  >
                    <i class="fa fa-cart-plus"></i>
                  </span>
                </div>
                <div class="pro-details-wish-com">
                  <div class="pro-details-wishlist">
                    <a
                      id="buttonAdd3Wishlish"
                      th:pid="${productDetail.productDetailId}"
                      ><i class="fa fa-heart" aria-hidden="true"></i> Add to
                      wishlist</a
                    >
                  </div>
                </div>
                <div class="pro-details-social-info">
                  <span>Share</span>
                  <div class="social-info">
                    <ul>
                      <li>
                        <a title="Facebook" href="#"
                          ><i class="ion-social-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a title="Twitter" href="#"
                          ><i class="ion-social-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a title="Google+" href="#"
                          ><i class="ion-social-google"></i
                        ></a>
                      </li>
                      <li>
                        <a title="Instagram" href="#"
                          ><i class="ion-social-instagram"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="pro-details-policy">
                  <ul>
                    <li>
                      <img
                        th:src="@{/static/images1/icons/policy.png}"
                        alt=""
                      /><span
                        >Security Policy (Edit With Customer Reassurance
                        Module)</span
                      >
                    </li>
                    <li>
                      <img
                        th:src="@{/static/images1/icons/policy-2.png}"
                        alt=""
                      /><span
                        >Delivery Policy (Edit With Customer Reassurance
                        Module)</span
                      >
                    </li>
                    <li>
                      <img
                        th:src="@{/static/images1/icons/policy-3.png}"
                        alt=""
                      /><span
                        >Return Policy (Edit With Customer Reassurance
                        Module)</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- product details description area start -->
      <div class="description-review-area mb-50px bg-light-gray-3 ptb-50px">
        <div class="container">
          <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
              <a data-bs-toggle="tab" href="#des-details1">Description</a>
              <a class="active" data-bs-toggle="tab" href="#des-details2"
                >Product Details</a
              >
              <a data-bs-toggle="tab" href="#des-details3">Reviews (2)</a>
            </div>
            <div class="tab-content description-review-bottom">
              <div id="des-details2" class="tab-pane active">
                <div class="product-anotherinfo-wrapper">
                  <ul>
                    <li><span>Weight</span> [[${productDetail.weight}]] g</li>
                    <li>
                      <span>Dimensions</span>[[${productDetail.width}]] x
                      [[${productDetail.height}]] x [[${productDetail.haute}]]
                      cm
                    </li>
                    <li><span>Materials</span> 60% cotton, 40% polyester</li>
                    <li>
                      <span>Other Info</span> American heirloom jean shorts pug
                      seitan letterpress
                    </li>
                  </ul>
                </div>
              </div>
              <div id="des-details1" class="tab-pane">
                <div class="product-description-wrapper">
                  <p>[[${productDetail.description}]]</p>
                </div>
              </div>
              <div id="des-details3" class="tab-pane">
                <div class="row">
                  <div class="col-lg-7">
                    <div class="review-wrapper">
                      <div class="single-review">
                        <div class="review-img">
                          <img
                            th:src="@{/static/images1/review-image/1.png}"
                            alt=""
                          />
                        </div>
                        <div class="review-content">
                          <div class="review-top-wrap">
                            <div class="review-left">
                              <div class="review-name">
                                <h4>White Lewis</h4>
                              </div>
                              <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                              </div>
                            </div>
                            <div class="review-left">
                              <a href="#">Reply</a>
                            </div>
                          </div>
                          <div class="review-bottom">
                            <p>
                              Vestibulum ante ipsum primis aucibus orci
                              luctustrices posuere cubilia Curae Suspendisse
                              viverra ed viverra. Mauris ullarper euismod
                              vehicula. Phasellus quam nisi, congue id nulla.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="single-review child-review">
                        <div class="review-img">
                          <img
                            th:src="@{/static/images1/review-image/2.png}"
                            alt=""
                          />
                        </div>
                        <div class="review-content">
                          <div class="review-top-wrap">
                            <div class="review-left">
                              <div class="review-name">
                                <h4>White Lewis</h4>
                              </div>
                              <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                              </div>
                            </div>
                            <div class="review-left">
                              <a href="#">Reply</a>
                            </div>
                          </div>
                          <div class="review-bottom">
                            <p>
                              Vestibulum ante ipsum primis aucibus orci
                              luctustrices posuere cubilia Curae Sus pen disse
                              viverra ed viverra. Mauris ullarper euismod
                              vehicula.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="ratting-form-wrapper pl-50">
                      <h3>Add a Review</h3>
                      <div class="ratting-form">
                        <form action="#">
                          <div class="star-box">
                            <span>Your rating:</span>
                            <div class="rating-product">
                              <i class="ion-android-star"></i>
                              <i class="ion-android-star"></i>
                              <i class="ion-android-star"></i>
                              <i class="ion-android-star"></i>
                              <i class="ion-android-star"></i>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="rating-form-style mb-10">
                                <input placeholder="Name" type="text" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="rating-form-style mb-10">
                                <input placeholder="Email" type="email" />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="rating-form-style form-submit">
                                <textarea
                                  name="Your Review"
                                  placeholder="Message"
                                ></textarea>
                                <input type="submit" value="Submit" />
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- product details description area end -->

      <!-- Arrivals Area Start -->
      <div class="arrival-area single-product-nav mb-20px">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h2 class="section-heading">
                  12 Other Products In The Same Category:
                </h2>
              </div>
            </div>
          </div>
          <!-- Arrivel slider start -->
          <div class="arrival-slider-wrapper slider-nav-style-1">
            <div
              class="slider-single-item"
              th:each="item : ${listProductDetails}"
            >
              <!-- Single Item -->
              <article class="list-product text-center">
                <div class="product-inner d-block">
                  <div class="img-block">
                    <a
                      th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                      class="thumbnail d-block"
                    >
                      <img
                        class="first-img"
                        th:src="@{'/static/images/'+${item.image}}"
                        alt=""
                      />
                      <img
                        class="second-img"
                        th:src="@{'/static/images/'+${item.image}}"
                        alt=""
                      />
                    </a>
                    <div class="add-to-link">
                      <ul>
                        <li>
                          <a
                            class="quick_view"
                            th:href="@{'/view/modal?productDetailId='+${item.productDetailId}}"
                            id="modal-detail"
                          >
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a
                            title="Add to Wishlist"
                            id="buttonAdd2Wishlish"
                            th:pid="${item.productDetailId}"
                            ><i class="fa fa-heart" aria-hidden="true"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            title="Add to compare"
                            id="buttonAdd3Cart"
                            th:pid="${item.productDetailId}"
                            ><i
                              class="fa fa-shopping-cart"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <ul class="product-flag">
                    <li class="new">-[[${item.discount}]]%</li>
                  </ul>
                  <div class="product-decs text-center">
                    <a class="inner-link" th:href="@{shop-4-column.html}"
                      ><span>[[${item.product.brand.brandName}]]</span></a
                    >
                    <h2>
                      <a th:href="@{single-product.html}" class="product-link"
                        >[[${item.product.productName}]]</a
                      >
                    </h2>
                    <div class="pricing-meta">
                      <ul>
                        <li class="old-price">$[[${item.unitPrice}]]</li>
                        <li class="current-price">
                          $[[${item.unitPrice - item.unitPrice*item.discount}]]
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="cart-btn">
                    <a
                      th:href="@{'/cart/'+${item.productDetailId}}"
                      class="add-to-curt"
                      title="Add to cart"
                      >Mua Ngay</a
                    >
                  </div>
                </div>
              </article>
            </div>
          </div>
          <!-- Arrivel slider end -->
        </div>
      </div>
      <script type="text/javascript">
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
      </script>
    </section>
  </body>
</html>
