<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
  <body>
    <section
      class="main_content_iner overly_inner bg-white"
      layout:fragment="content"
      id="content"
    >
      <div class="container-fluid p-0">
        <div class="row z-index-form">
          <div class="col-12">
            <div
              class="page_title_box d-flex align-items-center justify-content-between"
            >
              <div class="page_title_left">
                <h3 class="f_s_30 display-4 f_w_700 text_white">MemoryStorages</h3>
                <p class="lead text-light f_w_500">
                  Add, edit or delete a memory storage
                </p>
              </div>
              <div class="serach_field-area d-flex align-items-center">
                <div class="search_inner">
                  <form th:action="@{/admin/memoryStorages/search}">
                    <div class="search_field">
                      <input
                        type="text"
                        name="name"
                        class="bg-white"
                        placeholder="Search memory storages name..."
                      />
                    </div>
                    <button type="submit">
                      <img th:src="@{/static/img/icon/icon_search.svg}" alt="" />
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row card-body">
          <div class="col-md-3">
            <form
              th:action="@{/admin/memoryStorages/saveOrUpdate}"
              method="post"
              th:object="${memoryStorage}"
            >
              <input type="text" th:field="*{memoryStorageId}" hidden />
              <div class="mb-4 input-object">
                <label for="memoryStorageName">Name</label>
                <input
                  type="text"
                  class="form-control"
                  th:field="*{memoryStorageName}"
                  placeholder="Category Name..."
                />
                <small
                  th:if="${#fields.hasErrors('memoryStorageName')}"
                  class="form-text text-muted"
                  >Memory storage name is required</small
                >
              </div>
              <!-- <div class="mb-4 input-object">
                <label for="memoryStorageName">Slug</label>
                <input
                  type="text"
                  class="form-control"
                  th:field="*{slug}"
                  placeholder="Slug..."
                  aria-describedby="slugHid"
                />
              </div>
              <small
                id="slugHid"
                th:if="${#fields.hasErrors('slug')}"
                class="form-text text-muted"
                >Slug is required</small
              > -->
              <!-- <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  th:field="*{description}"
                  rows="3"
                ></textarea>
              </div> -->
              <button
                type="submit"
                class="btn btn-outline-primary mt-3 w-100 mb-2"
              >
              <span th:if="${!memoryStorage.isEdit}">Create</span>
              <span th:if="${memoryStorage.isEdit}">Update</span>
              </button>
            </form>
          </div>
          <div class="col-md-5 align-items-center">
            <table class="table table-responsive table-borderless table-hover">
              <thead class="table-success">
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Cấu hình</th>
                  <!-- <th>Description</th> -->
                  <!-- <th>Slug</th> -->
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item : ${listMemoryStorages}">
                  <td scope="row">
                    <input type="checkbox"/>
                  </td>
                  <td th:text="${item.memoryStorageId}"></td>
                  <td th:text="${item.memoryStorageName}"></td>
                  <!-- <td th:text="${item.description}"></td> -->
                  <!-- <td th:text="${item.slug}"></td> -->
                  <td class="text-end">
                    <div class="dropdown dropstart">
                      <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                      </button>
                      <ul class="dropdown-menu p-0">
                        <li><a class="btn btn-outline-info d-block mt-2">Detail</a></li>
                        <li><a th:href="@{'/admin/memoryStorages/edit/' + ${item.memoryStorageId}}" class="btn btn-outline-warning d-block mt-2">Update</a></li>
                        <!-- <li><a th:href="@{'/admin/memoryStorages/delete/' + ${item.memoryStorageId}}" class="btn btn-outline-danger d-block mt-2">Delete</a></li> -->
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
            <nav aria-label="Page navigation" class="mt-2">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a th:if="${currentPage > 1}" th:href="@{'/admin/memoryStorages/page/1'}" class="page-link" aria-label="Previous">
                    <span>First</span>
                  </a>
                  <span class="page-link" th:unless="${currentPage > 1}">First</span>
                </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/memoryStorages/page/' + ${currentPage - 1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                  <span th:unless="${currentPage > 1}" class="page-link" aria-hidden="true">&laquo;</span>
                </li>
                <li th:class="${currentPage==i?'page-item active':'page-item'}" th:each="i: ${#numbers.sequence(1, totalPages)}">
                  <a class="page-link" th:if="${currentPage != i}" th:href="@{'/admin/memoryStorages/page/' + ${i}}">[[${i}]]</a>
                  <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/memoryStorages/page/' + ${currentPage + 1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                  <span aria-hidden="true" class="page-link" th:unless="${currentPage < totalPages}">&raquo;</span>
                </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/memoryStorages/page/' + ${totalPages}}" aria-label="Next">
                    <span aria-hidden="true">Last</span>
                  </a>
                  <span class="page-link" aria-hidden="true" th:unless="${currentPage < totalPages}">Last</span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
