<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{home/index.html}"
>
  <head></head>

  <body>
    <section layout:fragment="content" id="content">
      <div class="offcanvas-overlay"></div>

      <!-- Breadcrumb Area Start -->
      <div class="breadcrumb-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-content">
                <ul class="nav">
                  <li><a href="index.html">Home</a></li>
                  <li>Bill</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb Area End-->
      <div class="d-flex justify-content-center mt-2">
        <div
          class="col-4 mt-md-30px mt-lm-30px border mb-3 me-2"
          style="border-radius: 5px"
        >
          <div class="your-order-area">
            <span
              class="d-flex text-primary justify-content-center align-item-center mt-2 mb-2"
              style="font-size: 38px; font-weight: 700"
            >
              Thông Tin Khách Hàng
            </span>
            <span
              class="d-flex text-success justify-content-center align-item-center mb-2"
              >Mã đơn hàng : [[${order.orderCode}]]</span
            >
            <div class="your-order-wrap gray-bg-4 mb-2 rounded">
              <div class="your-order-product-info">
                <div class="total-shipping">
                  <span class="text-dark" style="font-weight: 500"
                    >Thông tin</span
                  >
                  <hr style="background-color: #dee0e4" />
                  <ul>
                    <li class="d-flex mt-2 justify-content-between">
                      <span class="d-flex align-item-center">
                        <span class="ms-2 text-dark">Họ tên :</span>
                      </span>
                      <span class="text-dark" style="font-weight: 500"
                        >[[${order.firstName}]] [[${order.lastName}]]</span
                      >
                    </li>
                  </ul>
                  <ul>
                    <li class="d-flex mt-2 justify-content-between">
                      <span class="d-flex align-item-center">
                        <span class="ms-2 text-dark">E-mail :</span>
                      </span>
                      <span class="text-dark" style="font-weight: 500"
                        >[[${order.email}]]</span
                      >
                    </li>
                  </ul>
                  <ul>
                    <li class="d-flex mt-2 justify-content-between">
                      <span class="d-flex align-item-center">
                        <span class="ms-2 text-dark">Số điện thoại :</span>
                      </span>
                      <span class="text-dark" style="font-weight: 500"
                        >[[${order.phone}]]</span
                      >
                    </li>
                  </ul>
                  <hr style="background-color: #dee0e4" />
                  <span class="text-dark" style="font-weight: 500"
                    >Địa chỉ</span
                  >
                  <hr style="background-color: #dee0e4" />
                  <ul>
                    <li class="d-flex mt-2 justify-content-between">
                      <span class="d-flex align-item-center">
                        <span class="ms-2 text-dark">Tỉnh / Thành phố :</span>
                      </span>
                      <span class="text-dark" style="font-weight: 500"
                        >[[${order.city}]]</span
                      >
                    </li>
                  </ul>
                  <ul>
                    <li class="d-flex mt-2 justify-content-between">
                      <span class="d-flex align-item-center">
                        <span class="ms-2 text-dark">Quận / Huyện :</span>
                      </span>
                      <span class="text-dark" style="font-weight: 500"
                        >[[${order.district}]]</span
                      >
                    </li>
                  </ul>
                  <ul>
                    <li class="d-flex mt-2 justify-content-between">
                      <span class="d-flex align-item-center">
                        <span class="ms-2 text-dark">Phường / Xã :</span>
                      </span>
                      <span class="text-dark" style="font-weight: 500"
                        >[[${order.commune}]]</span
                      >
                    </li>
                  </ul>
                  <ul>
                    <li class="mt-2">
                      <span class="d-flex align-item-center">
                        <span class="ms-2 text-dark mb-2"
                          >Địa chỉ cụ thể :</span
                        >
                      </span>
                      <span class="ms-2 text-dark" style="font-weight: 500"
                        >- [[${order.address}]]</span
                      >
                    </li>
                  </ul>
                  <hr style="background-color: #dee0e4" />
                  <span class="text-dark" style="font-weight: 500"
                    >Ghi chú</span
                  >
                  <hr style="background-color: #dee0e4" />
                  <ul>
                    <li class="mt-2">
                      <span class="ms-2 text-dark" style="font-weight: 500"
                        >[[${order.note}]]</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-4 mt-md-30px mt-lm-30px border mb-3 ms-2"
          style="border-radius: 5px"
        >
          <div class="your-order-area">
            <span
              class="d-flex text-primary justify-content-center align-item-center mt-2 mb-2"
              style="font-size: 38px; font-weight: 700"
            >
              Đơn Hàng Của Bạn
            </span>
            <span
              class="d-flex text-success justify-content-center align-item-center mb-2"
              >Mã đơn hàng : [[${order.orderCode}]]</span
            >
            <div class="your-order-wrap gray-bg-4">
              <div class="your-order-product-info">
                <div class="your-order-top">
                  <ul>
                    <li>Sản phẩm</li>
                    <li>Giá</li>
                  </ul>
                </div>
                <div class="your-order-middle">
                  <ul>
                    <li
                      th:each="item : ${listCarts}"
                      style="margin-top: 5px; margin-bottom: 5px"
                    >
                      <a
                        class="order-middle-left text-dark"
                        th:href="@{'/users/view/'+${item.productDetail.productDetailId}+'&memory='+${item.productDetail.memoryStorage.memoryStorageId}}"
                        >[[${item.productDetail.product.productName}]]<span
                        ></span> : [[${item.productDetail.color.colorName}]]
                        <span class="ms-2 text-dark">
                          x [[${item.quantity}]]</span
                        >
                      </a>
                      <span class="order-price text-dark">
                        <span>Sale [[${item.productDetail.discount}]]%</span>
                        [[${#numbers.formatDecimal(item.productDetail.unitPrice,
                        0, 'COMMA', 0, 'POINT')}]]đ
                      </span>
                    </li>
                  </ul>
                </div>
                <!-- <div class="your-order-bottom">
                  
                </div> -->
                <div class="total-shipping">
                  <span class="text-dark" style="font-weight: 500"
                    >Đơn vị vận chuyển</span
                  >
                  <hr style="background-color: #dee0e4" />
                  <ul>
                    <li class="d-flex mt-2 justify-content-between">
                      <span class="d-flex align-item-center">
                        <span
                          class="ms-2 text-dark"
                          th:text="${order.transport == 20 ?'Standard':'Express'}"
                        ></span>
                      </span>
                      <span class="text-dark">
                        [[${#numbers.formatDecimal(order.transport, 0, 'COMMA',
                        0, 'POINT')}]]đ
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="your-order-total">
                  <ul>
                    <li class="order-total">Tổng</li>
                    <li>
                      <span id="amount">
                        [[${#numbers.formatDecimal(order.amount, 0, 'COMMA', 0,
                        'POINT')}]]đ
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="payment-method d-flex justify-content-between">
                <span class="your-order-shipping text-dark"
                  >Phương thức thanh toán</span
                >
                <span>[[${order.payment}]]</span>
              </div>
              <div class="payment-method d-flex justify-content-between mt-2">
                <span class="your-order-shipping text-dark">Ngày đặt</span>
                <span
                  th:text="${#dates.format(order.orderDate, 'dd-MM-yyyy HH:mm')}"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb Area End-->
      <!-- cart area start -->
      <!-- <script type="text/javascript">
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
      </script> -->
    </section>
  </body>
</html>
