<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{home/index.html}"
>
  <head></head>

  <body>
    <section layout:fragment="content" id="content">
      <div class="offcanvas-overlay"></div>

      <!-- Breadcrumb Area Start -->
      <div class="breadcrumb-area" th:if="${#lists.isEmpty(listOrderDetails)}">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-content">
                <ul class="nav">
                  <li><a href="index.html">Home</a></li>
                  <li>Cart</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb Area End-->

      <!-- Empty Cart Area start-->
      <div
        class="empty-cart-area mtb-50px"
        th:if="${#lists.isEmpty(listOrderDetails)}"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="cart-heading"><h2>Your cart item</h2></div>
              <div class="empty-text-contant text-center">
                <i class="lnr lnr-cart"></i>
                <h1>There are no more items in your cart</h1>
                <a class="empty-cart-btn" th:href="@{/users/all-product}">
                  <i class="ion-ios-arrow-left"> </i> Continue shopping
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Breadcrumb Area Start -->
      <div
        class="breadcrumb-area"
        th:unless="${#lists.isEmpty(listOrderDetails)}"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-content">
                <ul class="nav">
                  <li><a href="index.html">Home</a></li>
                  <li>Cart</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb Area End-->
      <!-- cart area start -->
      <div
        class="cart-main-area mtb-50px"
        th:unless="${#lists.isEmpty(listOrderDetails)}"
      >
        <div class="container">
          <h3 class="cart-page-title">Your cart items</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <form action="#">
                <div class="table-content table-responsive cart-table-content">
                  <table>
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Until Price</th>
                        <th>Qty</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div th:each="item,status : ${listOrderDetails}">
                        <tr th:id="'rows'+${status.count}">
                          <td class="product-thumbnail">
                            <a
                              th:href="@{'/users/view/'+${item.productDetail.productDetailId}+'&memory='+${item.productDetail.memoryStorage.memoryStorageId}}"
                              ><img
                                class="img-responsive"
                                th:src="@{'/static/images/'+${item.productDetail.image}}"
                                alt=""
                            /></a>
                          </td>
                          <td class="product-name">
                            <a
                              th:href="@{'/users/view/'+${item.productDetail.productDetailId}+'&memory='+${item.productDetail.memoryStorage.memoryStorageId}}"
                              >[[${item.productDetail.product.productName}]]</a
                            >
                          </td>
                          <td class="product-price-cart">
                            <span class="amount">
                              [[${#numbers.formatDecimal(item.productDetail.unitPrice,
                              0, 'COMMA', 0, 'POINT')}]]đ
                            </span>
                          </td>
                          <td class="product-quantity">
                            <nav class="d-flex justify-content-center">
                              <ul class="pagination">
                                <li class="page-item">
                                  <a
                                    class="page-link minusButton"
                                    href=""
                                    th:pid="${item.productDetail.productDetailId}"
                                    ><b>-</b></a
                                  >
                                </li>

                                <li class="page-item">
                                  <input
                                    type="text"
                                    class="form-control text-center"
                                    onkeydown="return false;"
                                    style="max-width: 55px"
                                    th:id="'quantity'+${item.productDetail.productDetailId}"
                                    th:value="${item.quantity}"
                                  />
                                </li>
                                <li class="page-item">
                                  <a
                                    class="page-link plusButton"
                                    href=""
                                    th:pid="${item.productDetail.productDetailId}"
                                    ><b>+</b></a
                                  >
                                </li>
                              </ul>
                            </nav>
                          </td>
                          <td class="product-subtotal">
                            <span
                              class="productSubtotal"
                              th:id="'subtotal'+${item.productDetail.productDetailId}"
                            >
                              [[${#numbers.formatDecimal(item.subtotal, 0,
                              'COMMA', 0, 'POINT')}]]đ
                            </span>
                          </td>
                          <td class="product-remove">
                            <!-- <a href="#"><i class="fa fa-pencil-alt"></i></a> -->
                            <a
                              href="#"
                              class="link-remove"
                              th:rowNumberCart="${status.count}"
                              th:href="@{'/cart/remove/'+${item.productDetail.productDetailId}}"
                              ><i class="fa fa-times"></i
                            ></a>
                          </td>
                        </tr>
                      </div>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="cart-shiping-update-wrapper">
                      <div class="cart-shiping-update">
                        <a href="#">Continue Shopping</a>
                      </div>
                      <div class="cart-clear">
                        <button>Update Shopping Cart</button>
                        <a href="#">Clear Shopping Cart</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-lm-30px">
                  <div class="cart-tax">
                    <div class="title-wrap">
                      <h4 class="cart-bottom-title section-bg-gray">
                        Estimate Shipping And Tax
                      </h4>
                    </div>
                    <div class="tax-wrapper">
                      <p>Enter your destination to get a shipping estimate.</p>
                      <div class="tax-select-wrapper">
                        <div class="tax-select">
                          <label> * Country </label>
                          <select class="email s-email s-wid">
                            <option>Bangladesh</option>
                            <option>Albania</option>
                            <option>Åland Islands</option>
                            <option>Afghanistan</option>
                            <option>Belgium</option>
                          </select>
                        </div>
                        <div class="tax-select">
                          <label> * Region / State </label>
                          <select class="email s-email s-wid">
                            <option>Bangladesh</option>
                            <option>Albania</option>
                            <option>Åland Islands</option>
                            <option>Afghanistan</option>
                            <option>Belgium</option>
                          </select>
                        </div>
                        <div class="tax-select mb-25px">
                          <label> * Zip/Postal Code </label>
                          <input type="text" />
                        </div>
                        <button class="cart-btn-2" type="submit">
                          Get A Quote
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lm-30px">
                  <div class="discount-code-wrapper">
                    <div class="title-wrap">
                      <h4 class="cart-bottom-title section-bg-gray">
                        Use Coupon Code
                      </h4>
                    </div>
                    <div class="discount-code">
                      <p>Enter your coupon code if you have one.</p>
                      <form>
                        <input type="text" required="" name="name" />
                        <button class="cart-btn-2" type="submit">
                          Apply Coupon
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-md-30px">
                  <div class="grand-totall">
                    <div class="title-wrap">
                      <h4 class="cart-bottom-title section-bg-gary-cart">
                        Cart Total
                      </h4>
                    </div>
                    <!-- <h5>Total products <span>$260.00</span></h5> -->
                    <!-- <div class="total-shipping">
                      <h5>Total shipping</h5>
                      <ul>
                        <li>
                          <input type="radio" name="transport" value="20" />
                          Standard
                          <span>$20.00</span>
                        </li>
                        <li>
                          <input type="radio" name="transport" value="30" />
                          Express
                          <span>$30.00</span>
                        </li>
                      </ul>
                    </div> -->
                    <h5 class="grand-totall-title mt-3 mb-3">
                      Grand Total <span id="totalAmount">$260.00</span>
                    </h5>
                    <a th:href="@{/checkout}">Proceed to Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <script type="text/javascript">
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
      </script> -->
    </section>
  </body>
</html>
