<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{home/index.html}"
>
  <head></head>

  <body>
    <section layout:fragment="content" id="content">
      <div class="offcanvas-overlay"></div>
      <!-- Breadcrumb Area Start -->
      <div class="breadcrumb-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-content">
                <ul class="nav">
                  <li><a href="index.html">Home</a></li>
                  <li>Checkout</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb Area End-->
      <!-- checkout area start -->
      <div class="checkout-area mt-50px mb-40px">
        <div class="container">
          <form th:action="@{/checkout}" method="post" th:object="${order}">
            <div class="row">
              <div class="col-lg-7">
                <div class="billing-info-wrap">
                  <input type="text" th:field="*{orderId}" hidden />
                  <h3>Chi tiết thanh toán</h3>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="billing-info mb-20px">
                        <label>Tên</label>
                        <input type="text" th:field="*{lastName}" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="billing-info mb-20px">
                        <label>Họ</label>
                        <input type="text" th:field="*{firstName}" />
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="billing-info mb-20px">
                        <label>Tỉnh / Thành phố</label>
                        <input type="text" th:field="*{city}" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="billing-info mb-20px">
                        <label>Quận / Huyện</label>
                        <input type="text" th:field="*{district}" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="billing-info mb-20px">
                        <label>Phường / Xã</label>
                        <input type="text" th:field="*{commune}" />
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="billing-info mb-20px">
                        <label>Địa chỉ cụ thể</label>
                        <input type="text" th:field="*{address}" />
                      </div>
                    </div>
                    <!-- <div class="col-lg-12">
                      <div class="billing-select mb-20px">
                        <label>Country</label>
                        <select>
                          <option>Select a country</option>
                          <option>Azerbaijan</option>
                          <option>Bahamas</option>
                          <option>Bahrain</option>
                          <option>Bangladesh</option>
                          <option>Barbados</option>
                        </select>
                      </div>
                    </div> -->
                    <!-- <div class="col-lg-12">
                      <div class="billing-info mb-20px">
                        <label>Street Address</label>
                        <input
                          class="billing-address"
                          placeholder="House number and street name"
                          type="text"
                        />
                        <input
                          placeholder="Apartment, suite, unit etc."
                          type="text"
                        />
                      </div>
                    </div> -->
                    <!-- <div class="col-lg-12">
                      <div class="billing-info mb-20px">
                        <label>Town / City</label>
                        <input type="text" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="billing-info mb-20px">
                        <label>State / County</label>
                        <input type="text" />
                      </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                      <div class="billing-info mb-20px">
                        <label>Postcode / ZIP</label>
                        <input type="text" />
                      </div>
                    </div> -->
                    <div class="col-lg-6 col-md-6">
                      <div class="billing-info mb-20px">
                        <label>Số điện thoại</label>
                        <input type="text" th:field="*{phone}" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="billing-info mb-20px">
                        <label>Email</label>
                        <input type="text" th:field="*{email}" name="email" />
                      </div>
                    </div>
                  </div>
                  <!-- <div class="checkout-account mb-30px">
                    <input class="checkout-toggle2" type="checkbox" />
                    <label>Create an account?</label>
                  </div>
                  <div class="checkout-account-toggle open-toggle2 mb-30">
                    <input placeholder="Email address" type="email" />
                    <input placeholder="Password" type="password" />
                    <button class="btn-hover checkout-btn" type="submit">
                      register
                    </button>
                  </div> -->
                  <div class="additional-info-wrap">
                    <h4>Thông tin thêm</h4>
                    <div class="additional-info">
                      <label>Ghi chú đặt hàng</label>
                      <textarea
                        th:field="*{note}"
                        placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ: ghi chú đặc biệt cho giao hàng."
                        name="message"
                      ></textarea>
                    </div>
                  </div>
                  <!-- <div class="checkout-account mt-25">
                    <input class="checkout-toggle" type="checkbox" />
                    <label>Ship to a different address?</label>
                  </div>
                  <div class="different-address open-toggle mt-30px">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info mb-20px">
                          <label>First Name</label>
                          <input type="text" />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info mb-20px">
                          <label>Last Name</label>
                          <input type="text" />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="billing-info mb-20px">
                          <label>Company Name</label>
                          <input type="text" />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="billing-select mb-20px">
                          <label>Country</label>
                          <select>
                            <option>Select a country</option>
                            <option>Azerbaijan</option>
                            <option>Bahamas</option>
                            <option>Bahrain</option>
                            <option>Bangladesh</option>
                            <option>Barbados</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="billing-info mb-20px">
                          <label>Street Address</label>
                          <input
                            class="billing-address"
                            placeholder="House number and street name"
                            type="text"
                          />
                          <input
                            placeholder="Apartment, suite, unit etc."
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="billing-info mb-20px">
                          <label>Town / City</label>
                          <input type="text" />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info mb-20px">
                          <label>State / County</label>
                          <input type="text" />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info mb-20px">
                          <label>Postcode / ZIP</label>
                          <input type="text" />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info mb-20px">
                          <label>Phone</label>
                          <input type="text" />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info mb-20px">
                          <label>Email Address</label>
                          <input type="text" />
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-5 mt-md-30px mt-lm-30px">
                <div class="your-order-area">
                  <h3>Đơn hàng của bạn</h3>
                  <div class="your-order-wrap gray-bg-4">
                    <div class="your-order-product-info">
                      <div class="your-order-top">
                        <ul>
                          <li>Sản phẩm</li>
                          <li>Giá</li>
                        </ul>
                      </div>
                      <div class="your-order-middle">
                        <ul>
                          <li
                            th:each="item : ${listCarts}"
                            style="margin-top: 5px; margin-bottom: 5px"
                          >
                            <span class="order-middle-left"
                              >[[${item.productDetail.product.productName}]]<span></span>
                                :
                                [[${item.productDetail.color.colorName}]]
                            <span class="order-price"
                              ></span
                              >
                              x [[${item.quantity}]]</span
                            >
                            
                            [[${#numbers.formatDecimal(item.productDetail.unitPrice, 0, 'COMMA', 0, 'POINT')}]]đ
                            </span
                            >
                          </li>
                        </ul>
                      </div>
                      <!-- <div class="your-order-bottom">
                        
                      </div> -->
                      <div class="total-shipping">
                        <span class="text-dark" style="font-weight: 500;">Đơn vị vận chuyển</span>
                        <hr style="background-color: #dee0e4;">
                        <ul>
                          <li class="d-flex mt-2 justify-content-between">
                            <span class="d-flex align-item-center">
                              <input type="radio" name="transport" id="transport" value="20000"/>
                              <span class="ms-2">Standard</span>
                            </span>
                            <span>20.000đ</span>
                          </li>
                          <li class="d-flex mt-2 justify-content-between">
                            <span class="d-flex align-item-center">
                              <input type="radio" name="transport" id="transport1" value="30000" />
                              <span class="ms-2">Express</span>
                            </span>
                            <span>30.000đ</span>
                          </li>
                        </ul>
                      </div>
                      <div class="your-order-total">
                        <ul>
                          <li class="order-total">Tổng</li>
                          <li >$<span id="amount" th:value="${order.amount}">

                            [[${#numbers.formatDecimal(order.amount, 0, 'COMMA', 0, 'POINT')}]]đ
                          </span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="payment-method">
                      <span class="your-order-shipping text-dark"
                        >Phương thức thanh toán</span
                      >
                      <div class="payment-accordion element-mrg">
                        <div class="panel-group" id="accordion">
                          <div class="panel payment-accordion">
                            <div class="panel-heading" id="method-one">
                              <div
                                class="panel-title d-flex align-item-center texr-dark mt-2"
                              >
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="payment"
                                      id=""
                                      value="Thanh toán khi nhận hàng"
                                      checked
                                    />
                                    Thanh toán khi nhận hàng
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="payment"
                                      id=""
                                      value="Chuyển khoản ngân hàng"
                                    />
                                    Chuyển khoản ngân hàng
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="payment"
                                      id=""
                                      value="Thẻ ATM nội địa"
                                    />
                                    Thẻ ATM nội địa
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Place-order mt-25">
                    <button class="btn-hover btn btn-outline-primary w-100">
                      Thanh toán
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- checkout area end -->
      <!-- <script type="text/javascript">
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
      </script> -->
    </section>

  </body>
</html>
