<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{home/index.html}"
>
  <head></head>

  <body>
    <section layout:fragment="content" id="content">
      <div class="breadcrumb-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-content">
                <ul class="nav">
                  <li><a href="index.html">Home</a></li>
                  <li>Wishlist</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb Area End-->
      <!-- Wishlist area start -->
      <div
        class="cart-main-area mtb-50px"
        th:unless="${#lists.isEmpty(listWish)}"
      >
        <div class="container">
          <h3 class="cart-page-title">Your wishlishes</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <form action="#">
                <div class="table-content table-responsive cart-table-content">
                  <table>
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Until Price</th>
                        <th>Qty</th>
                        <th>Subtotal</th>
                        <th>Add To Cart</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div th:each="item,status : ${listWish}">
                        <tr th:id="'row'+${status.count}">
                          <td class="product-thumbnail">
                            <a
                              th:href="@{'/users/view/'+${item.productDetail.productDetailId}+'&memory='+${item.productDetail.memoryStorage.memoryStorageId}}"
                              ><img
                                class="img-responsive"
                                th:src="@{'/static/images/'+${item.productDetail.image}}"
                                alt=""
                            /></a>
                          </td>
                          <td class="product-name">
                            <a
                              th:href="@{'/users/view/'+${item.productDetail.productDetailId}+'&memory='+${item.productDetail.memoryStorage.memoryStorageId}}"
                              >[[${item.productDetail.product.productName}]]</a
                            >
                          </td>
                          <td class="product-price-cart">
                            <span class="amount">
                              [[${#numbers.formatDecimal(item.productDetail.unitPrice,
                              0, 'COMMA', 0, 'POINT')}]]đ
                            </span>
                          </td>
                          <td class="product-quantity">
                            <div class="cart-plus-minus">
                              <input
                                class="cart-plus-minus-box"
                                type="text"
                                name="qtybutton"
                                th:id="'quantity'+${item.productDetail.productDetailId}"
                                value="1"
                              />
                            </div>
                          </td>
                          <td class="product-subtotal">
                            [[${#numbers.formatDecimal(item.productDetail.unitPrice
                            -
                            item.productDetail.unitPrice*item.productDetail.discount/100,
                            0, 'COMMA', 0, 'POINT')}]]đ
                          </td>
                          <td class="product-wishlist-cart">
                            <a
                              id="buttonAdd2CartByQuantity"
                              th:pid="${item.productDetail.productDetailId}"
                              >Thêm vào giỏ hàng</a
                            >
                          </td>
                          <td class="product-remove">
                            <!-- <a href="#"><i class="fa fa-pencil-alt"></i></a> -->
                            <a
                              th:href="@{'/wishlish/remove/'+${item.productDetail.productDetailId}}"
                              class="link-remove-wishlish"
                              th:rowNumber="${status.count}"
                              ><i class="fa fa-times"></i
                            ></a>
                          </td>
                        </tr>
                      </div>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Empty Cart Area start-->
      <div class="empty-cart-area mtb-50px" th:if="${#lists.isEmpty(listWish)}">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="cart-heading"><h2>Your wishlishes</h2></div>
              <div class="empty-text-contant text-center">
                <i class="lnr lnr-cart"></i>
                <h1>There are no more items in your wishlish</h1>
                <a class="empty-cart-btn" th:href="@{/users/all-product}">
                  <i class="ion-ios-arrow-left"> </i> Continue shopping
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
      </script>
    </section>
  </body>
</html>
