<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{home/index.html}"
>
  <head></head>

  <body>
    <section layout:fragment="content" id="content">
      <!-- Mobile Header Section Start -->
      <div class="mobile-header d-lg-none sticky-nav bg-white ptb-20px">
        <div class="container">
          <div class="row align-items-center">
            <!-- Header Logo Start -->
            <div class="col">
              <div class="header-logo">
                <a th:href="@{/index.html}"
                  ><img
                    class="img-responsive"
                    th:src="@{/static/images1/logo/logo.png}"
                    alt="logo.jpg"
                /></a>
              </div>
            </div>
            <!-- Header Logo End -->

            <!-- Header Tools Start -->
            <div class="col-auto">
              <div class="header-tools justify-content-end">
                <div class="cart-info d-flex align-self-center">
                  <a
                    th:href="@{#offcanvas-wishlist}"
                    class="heart offcanvas-toggle"
                    ><i class="lnr lnr-heart"></i><span>Wishlist</span></a
                  >
                  <a th:href="@{#offcanvas-cart}" class="bag offcanvas-toggle"
                    ><i class="lnr lnr-cart"></i><span>My Cart</span></a
                  >
                </div>
                <div class="mobile-menu-toggle">
                  <a
                    th:href="@{#offcanvas-mobile-menu}"
                    class="offcanvas-toggle"
                  >
                    <svg viewBox="0 0 800 600">
                      <path
                        d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                        id="top"
                      ></path>
                      <path d="M300,320 L540,320" id="middle"></path>
                      <path
                        d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                        id="bottom"
                        transform="translate(480, 320) scale(1, -1) translate(-480, -318) "
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <!-- Header Tools End -->
          </div>
        </div>
      </div>

      <!-- Slider Start -->
      <div class="slider-area">
        <div class="hero-slider-wrapper">
          <!-- Single Slider  -->
          <div
            class="single-slide slider-height-1 bg-img d-flex"
            data-bg-image="/static/images1/slider-image/sample-1.jpg"
          >
            <div class="container align-self-center">
              <div class="slider-content-1 slider-animated-1 text-left pl-60px">
                <h1 class="animated color-black">
                  Xbox One Pro <br />
                  Wireless Controller
                </h1>
                <p class="animated color-gray">Revolution Pro Controller.</p>
                <a th:href="@{/shop-4-column.html}" class="shop-btn animated"
                  >SHOP NOW</a
                >
              </div>
            </div>
          </div>
          <!-- Single Slider  -->
          <div
            class="single-slide slider-height-1 bg-img d-flex"
            data-bg-image="/static/images1/slider-image/sample-2.jpg"
          >
            <div class="container align-self-center">
              <div class="slider-content-1 slider-animated-2 text-left pl-60px">
                <h1 class="animated color-black">
                  Bobovr Z4 Virtual <br />
                  Reality 3D Glasses
                </h1>
                <p class="animated color-gray">
                  Virtual reality through a new lens
                </p>
                <a th:href="@{/shop-4-column.html}" class="shop-btn animated"
                  >SHOP NOW</a
                >
              </div>
            </div>
          </div>
          <!-- Single Slider  -->
          <div
            class="single-slide slider-height-1 bg-img d-flex"
            data-bg-image="/static/images1/slider-image/sample-3.jpg"
          >
            <div class="container align-self-center">
              <div class="slider-content-1 slider-animated-3 text-left pl-60px">
                <h1 class="animated color-black">
                  Portable Wireless <br />
                  Bluetooth Speaker
                </h1>
                <p class="animated color-gray">With Colorful LED Light</p>
                <a th:href="@{/shop-4-column.html}" class="shop-btn animated"
                  >SHOP NOW</a
                >
              </div>
            </div>
          </div>
          <!-- Single Slider  -->
        </div>
      </div>
      <!-- Slider End -->
      <!-- Static Area Start -->
      <div class="static-area mtb-50px">
        <div class="container">
          <div class="static-area-wrap">
            <div class="row">
              <!-- Static Single Item Start -->
              <div
                class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px"
              >
                <div class="single-static">
                  <img
                    th:src="@{/static/images1/icons/static-icons-1.png}"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="single-static-meta">
                    <h4>Free Shipping</h4>
                    <p>On all orders over $75.00</p>
                  </div>
                </div>
              </div>
              <!-- Static Single Item End -->
              <!-- Static Single Item Start -->
              <div
                class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px"
              >
                <div class="single-static">
                  <img
                    th:src="@{/static/images1/icons/static-icons-2.png}"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="single-static-meta">
                    <h4>Free Returns</h4>
                    <p>Returns are free within 9 days</p>
                  </div>
                </div>
              </div>
              <!-- Static Single Item End -->
              <!-- Static Single Item Start -->
              <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-sm-30px">
                <div class="single-static">
                  <img
                    th:src="@{/static/images1/icons/static-icons-3.png}"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="single-static-meta">
                    <h4>100% Payment Secure</h4>
                    <p>Your payment are safe with us.</p>
                  </div>
                </div>
              </div>
              <!-- Static Single Item End -->
              <!-- Static Single Item Start -->
              <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                <div class="single-static">
                  <img
                    th:src="@{/static/images1/icons/static-icons-4.png}"
                    alt=""
                    class="img-responsive"
                  />
                  <div class="single-static-meta">
                    <h4>Support 24/7</h4>
                    <p>Contact us 24 hours a day</p>
                  </div>
                </div>
              </div>
              <!-- Static Single Item End -->
            </div>
          </div>
        </div>
      </div>
      <!-- Static Area End -->

      <!-- Feature Area Start -->
      <div class="feature-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title">
                    <h2>Sản phẩm nổi bật</h2>
                  </div>
                </div>
              </div>
              <div class="feature-slider-wrapper slider-nav-style-1">
                <div
                  class="slider-single-item"
                  th:each="item : ${listOutstanding}"
                >
                  <!-- Single Item -->
                  <article class="list-product text-center mb-30px">
                    <div class="product-inner">
                      <div class="img-block">
                        <a
                          th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                          class="thumbnail"
                        >
                          <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                        </a>
                        <div class="add-to-link">
                          <ul>
                            <li>
                              <a
                                class="quick_view"
                                th:href="@{'/view/modal?productDetailId='+${item.productDetailId}}"
                                id="modal-detail"
                              >
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                
                                title="Add to Wishlist"
                                id="buttonAdd2Wishlish"
                                th:pid="${item.productDetailId}"
                                ><i class="fa fa-heart" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a
                              title="Add to compare"
                              id="buttonAdd3Cart"
                              th:pid="${item.productDetailId}"
                              
                                ><i
                                  class="fa fa-shopping-cart"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ul class="product-flag">
                        <li class="new">-[[${item.discount}]]%</li>
                      </ul>
                      <div class="product-decs">
                        <a class="inner-link" th:href="@{shop-4-column.html}"
                          ><span>[[${item.product.brand.brandName}]]</span></a
                        >
                        <h2>
                          <a
                            th:href="@{single-product.html}"
                            class="product-link"
                            >[[${item.product.productName}]]</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="old-price d-block mb-1">[[${#numbers.formatDecimal(item.unitPrice, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                            <li class="current-price">
                              [[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="cart-btn">
                        <a
                        th:href="@{'/cart/'+${item.productDetailId}}"
                          class="add-to-curt"
                          title="Add to cart"
                          >Mua Ngay</a
                        >
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <!-- Feature Area End -->
            <div class="col-lg-4 col-md-4 mt-lm-30px">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title">
                    <h2>Ưu đãi</h2>
                  </div>
                </div>
              </div>
              <div class="hot-deal-slider-wrapper slider-nav-style-1">
                <div class="slider-single-item" th:each="item : ${listDiscountCurrent}">
                  <!-- Single Item -->
                  <article class="list-product text-center">
                    <div class="product-inner">
                      <div class="img-block">
                        <a th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}" class="thumbnail">
                          <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                        </a>
                        <div class="add-to-link">
                          <ul>
                            <li>
                              <a
                                class="quick_view"
                                th:href="@{'/view/modal?productDetailId='+${item.productDetailId}}"
                                id="modal-detail"
                              >
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                
                                id="buttonAdd2Wishlish"
                                th:pid="${item.productDetailId}"
                                title="Add to Wishlist"
                                ><i class="fa fa-heart" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a
                              id="buttonAdd3Cart"
                              th:pid="${item.productDetailId}"
                                title="Add to compare"
                                ><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ul class="product-flag">
                        <li class="new">-[[${item.discount}]]%</li>
                      </ul>
                      <div class="product-decs">
                        <a class="inner-link" th:href="@{/shop-4-column.html}"
                          ><span>[[${item.product.brand.brandName}]]</span></a
                        >
                        <h2>
                          <a
                            th:href="@{/single-product.html}"
                            class="product-link"
                            >[[${item.productDetailName}]]</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="old-price d-block mb-1">[[${#numbers.formatDecimal(item.unitPrice, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                            <li class="current-price">[[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                          </ul>
                        </div>
                      </div>
                      <div class="availability-list in-stock">
                        Availability: <span>300 In Stock</span>
                      </div>
                      <div class="clockdiv">
                        <div data-countdown="2023/12/01"></div>
                      </div>
                      <div class="cart-btn">
                        <a
                          th:href="@{#}"
                          class="add-to-curt"
                          title="Add to cart"
                          >Mua Ngay</a
                        >
                      </div>
                    </div>
                  </article>
                </div>
                <!-- <div class="slider-single-item">
                  <article class="list-product text-center">
                    <div class="product-inner">
                      <div class="img-block">
                        <a th:href="@{/single-product.html}" class="thumbnail">
                          <img
                            class="first-img"
                            th:src="@{/static/images1/product-image/6.jpg}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{/static/images1/product-image/7.jpg}"
                            alt=""
                          />
                        </a>
                        <div class="add-to-link">
                          <ul>
                            <li>
                              <a
                                class="quick_view"
                              >
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                th:href="@{/wishlist.html}"
                                title="Add to Wishlist"
                                ><i class="fa fa-heart" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a
                                th:href="@{/compare.html}"
                                title="Add to compare"
                                ><i class="fas fa-star"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ul class="product-flag">
                        <li class="new">-12%</li>
                      </ul>
                      <div class="product-decs">
                        <a class="inner-link" th:href="@{/shop-4-column.html}"
                          ><span>STUDIO DESIGN</span></a
                        >
                        <h2>
                          <a
                            th:href="@{/single-product.html}"
                            class="product-link"
                            >Polk Audio T30 Speaker</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="old-price d-block mb-1">$21.51</li>
                            <li class="current-price">$21.51</li>
                          </ul>
                        </div>
                      </div>
                      <div class="availability-list in-stock">
                        Availability: <span>300 In Stock</span>
                      </div>
                      <div class="clockdiv">
                        <div data-countdown="2023/12/01"></div>
                      </div>
                      <div class="cart-btn">
                        <a
                          th:href="@{#}"
                          class="add-to-curt"
                          title="Add to cart"
                          >Add to cart</a
                        >
                      </div>
                    </div>
                  </article>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Area End -->

      <!-- Banner Area Start -->
      <div class="banner-area mt-30px">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="banner-wrapper">
                <a th:href="@{/shop-4-column.html}"
                  ><img th:src="@{/static/images1/banner-image/1.jpg}" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Area End -->

      <!-- Best sell Area Start -->
      <div class="best-sell-area mt-20px">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h2>Bán chạy nhất</h2>
              </div>
            </div>
          </div>
          <div
            class="best-sell-area-wrapper slider-nav-style-1 slider-nav-style-4"
          >
            <div class="single-slider-item" th:each="item : ${listBestseller}">
              <!-- Single Item -->
              <article class="list-product text-center" >
                <div class="product-inner">
                  <div class="img-block">
                    <a th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}" class="thumbnail">
                      <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                    </a>
                    <div class="add-to-link">
                      <ul>
                        <li>
                          <a
                            class="quick_view"
                            th:href="@{'/view/modal?productDetailId='+${item.productDetailId}}"
                            id="modal-detail"
                          >
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a
                            
                            title="Add to Wishlist"
                            id="buttonAdd2Wishlish"
                            th:pid="${item.productDetailId}"
                            ><i class="fa fa-heart" aria-hidden="true"></i
                          ></a>
                        </li>
                        <li>
                          <a
                          title="Add to compare"
                          id="buttonAdd3Cart"
                              th:pid="${item.productDetailId}"
                            ><i
                              class="fa fa-shopping-cart"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-decs">
                    <a class="inner-link" th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                      ><span>[[${item.product.productName}]]</span></a
                    >
                    <h2>
                      <a th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}" class="product-link"
                        >[[${item.product.brand.brandName}]]</a
                      >
                    </h2>
                    <div class="availability-list in-stock">
                      Bộ nhớ trong: <span>[[${item.memoryStorage.memoryStorageName}]]GB</span>
                    </div>
                    <p>
                      [[${item.description}]]
                    </p>
                    <div class="pricing-meta">
                      <ul>
                        <li class="current-price">[[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <article class="list-product text-center" >
                <div class="product-inner">
                  <div class="img-block">
                    <a th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}" class="thumbnail">
                      <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                    </a>
                    <div class="add-to-link">
                      <ul>
                        <li>
                          <a
                            class="quick_view"
                            th:href="@{'/view/modal?productDetailId='+${item.productDetailId}}"
                            id="modal-detail"
                          >
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a
                            title="Add to Wishlist"
                            id="buttonAdd2Wishlish"
                            th:pid="${item.productDetailId}"
                            ><i class="fa fa-heart" aria-hidden="true"></i
                          ></a>
                        </li>
                        <li>
                          <a      
                          title="Add to compare"
                          id="buttonAdd3Cart"
                              th:pid="${item.productDetailId}"
                            ><i
                              class="fa fa-shopping-cart"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-decs">
                    <a class="inner-link" th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                      ><span>[[${item.product.productName}]]</span></a
                    >
                    <h2>
                      <a th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}" class="product-link"
                        >[[${item.product.brand.brandName}]]</a
                      >
                    </h2>
                    <div class="availability-list in-stock">
                      Bộ nhớ trong: <span>[[${item.memoryStorage.memoryStorageName}]]GB</span>
                    </div>
                    <p>
                      Android 8.1 (Oreo), Hisilicon Kirin 710 (12 nm), Octa-core
                      (4x2.2 GHz Cortex-A73 &amp; 4x1.7 GHz Cortex-A53),
                      Mali-G51 MP4
                    </p>
                    <div class="pricing-meta">
                      <ul>
                        <li class="current-price">[[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
          </div>
        </div>
      </div>
      <!-- Best sell Area End -->
      <!-- Banner Area Start -->
      <div class="banner-area mt-30px mb-20px">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="banner-wrapper">
                <a th:href="@{/shop-4-column.html}"
                  ><img th:src="@{/static/images1/banner-image/2.jpg}" alt=""
                /></a>
              </div>
            </div>
            <div class="col-md-3 col-lg-3">
              <div class="banner-wrapper">
                <a th:href="@{/shop-4-column.html}"
                  ><img th:src="@{/static/images1/banner-image/3.jpg}" alt=""
                /></a>
              </div>
            </div>
            <div class="col-md-3 col-lg-3">
              <div class="banner-wrapper">
                <a th:href="@{/shop-4-column.html}"
                  ><img th:src="@{/static/images1/banner-image/4.jpg}" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Area End -->

      <!-- Arrivals Area Start -->
      <div class="arrival-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h2>Mới</h2>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs sub-category">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-bs-toggle="tab"
                      th:href="@{#tab-1}"
                      >Điện thoại</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" th:href="@{#tab-2}"
                      >Computer</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" th:href="@{#tab-3}"
                      >Tablet</a
                    >
                  </li>
                </ul>
                <!-- Nav tabs -->
              </div>
            </div>
          </div>
          <!-- tab content -->
          <div class="tab-content">
            <!-- First-Tab -->
            <div id="tab-1" class="tab-pane active fade">
              <!-- Arrivel slider start -->
              <div class="arrival-slider-wrapper slider-nav-style-1">
                <div class="slider-single-item" th:each="item : ${listMostRecent}">
                  <!-- Single Item -->
                  <article class="list-product text-center">
                    <div class="product-inner d-block">
                      <div class="img-block">
                        <a
                          th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                          class="thumbnail d-block"
                        >
                          <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                        </a>
                        <div class="add-to-link">
                          <ul>
                            <li>
                              <a
                                class="quick_view"
                                th:href="@{'/view/modal?productDetailId='+${item.productDetailId}}"
                                id="modal-detail"
                              >
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                
                                title="Add to Wishlist"
                                id="buttonAdd2Wishlish"
                                th:pid="${item.productDetailId}"
                                ><i class="fa fa-heart" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a   
                              title="Add to compare"
                              id="buttonAdd3Cart"
                              th:pid="${item.productDetailId}"
                                ><i
                                  class="fa fa-shopping-cart"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ul class="product-flag">
                        <li class="new">-[[${item.discount}]]%</li>
                      </ul>
                      <div class="product-decs text-center">
                        <a class="inner-link" th:href="@{shop-4-column.html}"
                          ><span>[[${item.product.brand.brandName}]]</span></a
                        >
                        <h2>
                          <a
                            th:href="@{single-product.html}"
                            class="product-link"
                            >[[${item.product.productName}]]</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="old-price d-block mb-1">[[${#numbers.formatDecimal(item.unitPrice, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                            <li class="current-price">
                              [[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="cart-btn">
                        <a
                        th:href="@{'/cart/'+${item.productDetailId}}"
                          class="add-to-curt"
                          title="Add to cart"
                          >Mua Ngay</a
                        >
                      </div>
                    </div>
                  </article>
                </div>
                
              </div>
              <!-- Arrivel slider end -->
            </div>
            <!-- First-Tab -->
            <!-- Second-Tab -->
            <div id="tab-2" class="tab-pane fade">
              <!-- Arrivel slider start -->
              <div class="arrival-slider-wrapper slider-nav-style-1">
                <div class="slider-single-item" th:each="item : ${listMostRecent}">
                  <!-- Single Item -->
                  <article class="list-product text-center">
                    <div class="product-inner d-block">
                      <div class="img-block">
                        <a
                          th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                          class="thumbnail d-block"
                        >
                          <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                        </a>
                        <div class="add-to-link">
                          <ul>
                            <li>
                              <a
                                class="quick_view"
                                th:href="@{'/view/modal?productDetailId='+${item.productDetailId}}"
                                id="modal-detail"
                              >
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                
                                title="Add to Wishlist"
                                id="buttonAdd2Wishlish"
                                th:pid="${item.productDetailId}"
                                ><i class="fa fa-heart" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a title="Add to compare"
                              id="buttonAdd3Cart"
                              th:pid="${item.productDetailId}"
                                ><i
                                  class="fa fa-shopping-cart"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ul class="product-flag">
                        <li class="new">-[[${item.discount}]]%</li>
                      </ul>
                      <div class="product-decs text-center">
                        <a class="inner-link" th:href="@{shop-4-column.html}"
                          ><span>[[${item.product.brand.brandName}]]</span></a
                        >
                        <h2>
                          <a
                            th:href="@{single-product.html}"
                            class="product-link"
                            >[[${item.product.productName}]]</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="old-price d-block mb-1">[[${#numbers.formatDecimal(item.unitPrice, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                            <li class="current-price">
                              [[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="cart-btn">
                        <a
                        th:href="@{'/cart/'+${item.productDetailId}}"
                          class="add-to-curt"
                          title="Add to cart"
                          >Mua Ngay</a
                        >
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <!-- Arrivel slider end -->
            </div>
            <!-- Second-Tab -->
            <!-- Third-Tab -->
            <div id="tab-3" class="tab-pane fade">
              <!-- Arrivel slider start -->
              <div class="arrival-slider-wrapper slider-nav-style-1">
                <div class="slider-single-item" th:each="item : ${listMostRecent}">
                  <!-- Single Item -->
                  <article class="list-product text-center">
                    <div class="product-inner d-block">
                      <div class="img-block">
                        <a
                          th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                          class="thumbnail d-block"
                        >
                          <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                        </a>
                        <div class="add-to-link">
                          <ul>
                            <li>
                              <a
                                class="quick_view"
                                th:href="@{'/view/modal?productDetailId='+${item.productDetailId}}"
                                id="modal-detail"
                              >
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                
                                title="Add to Wishlist"
                                id="buttonAdd2Wishlish"
                                th:pid="${item.productDetailId}"
                                ><i class="fa fa-heart" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a
                              title="Add to compare"
                              id="buttonAdd3Cart"
                              th:pid="${item.productDetailId}"
                                >
                                <i
                                  class="fa fa-shopping-cart"
                                  aria-hidden="true"
                                ></i
                              ></span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ul class="product-flag">
                        <li class="new">-[[${item.discount}]]%</li>
                      </ul>
                      <div class="product-decs text-center">
                        <a class="inner-link" th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                          ><span>[[${item.product.brand.brandName}]]</span></a
                        >
                        <h2>
                          <a
                            th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                            class="product-link"
                            >[[${item.product.productName}]]</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="old-price d-block mb-1">[[${#numbers.formatDecimal(item.unitPrice, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                            <li class="current-price">
                              [[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="cart-btn">
                        <a
                        th:href="@{'/cart/'+${item.productDetailId}}"
                          class="add-to-curt"
                          title="Add to cart"
                          >Mua Ngay</a
                        >
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <!-- Arrivel slider end -->
            </div>
            <!-- Third-Tab -->
          </div>
          <!-- tab content end-->
        </div>
      </div>
      <!-- Arrivals Area End -->

      <!-- Banner Area Start -->
      <div class="banner-area mt-20px mb-20px">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="banner-wrapper">
                <a th:href="@{/shop-4-column.html}"
                  ><img th:src="@{/static/images1/banner-image/5.jpg}" alt=""
                /></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="banner-wrapper">
                <a th:href="@{/shop-4-column.html}"
                  ><img th:src="@{/static/images1/banner-image/6.jpg}" alt=""
                /></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="banner-wrapper">
                <a th:href="@{/shop-4-column.html}"
                  ><img th:src="@{/static/images1/banner-image/7.jpg}" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Area End -->
      <!-- Catogery slider area Start-->
      <div class="category-slider-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-md-30px mb-lm-30px">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title">
                    <h2>Điện thoại</h2>
                  </div>
                </div>
              </div>
              <div class="category-slider-wraper slider-nav-style-1">
                <div class="slider-single-item" th:each="item : ${listProductDetails}">
                  <!-- Single Item -->
                  <article class="list-product text-center">
                    <div class="product-inner">
                      <div class="img-block">
                        <a th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}" class="thumbnail">
                          <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-decs">
                        <h2>
                          <a
                            th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                            class="product-link"
                            >[[${item.product.productName}]]</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="current-price">[[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-md-30px mb-lm-30px">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title">
                    <h2>Computer</h2>
                  </div>
                </div>
              </div>
              <div class="category-slider-wraper slider-nav-style-1">
                <div class="slider-single-item" th:each="item : ${listProductDetails}">
                  <!-- Single Item -->
                  <article class="list-product text-center">
                    <div class="product-inner">
                      <div class="img-block">
                        <a th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}" class="thumbnail">
                          <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-decs">
                        <h2>
                          <a
                            th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                            class="product-link"
                            >[[${item.product.productName}]]</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="current-price">[[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title">
                    <h2>Tablet</h2>
                  </div>
                </div>
              </div>
              <div class="category-slider-wraper slider-nav-style-1">
                <div class="slider-single-item" th:each="item : ${listProductDetails}">
                  <!-- Single Item -->
                  <article class="list-product text-center">
                    <div class="product-inner">
                      <div class="img-block">
                        <a th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}" class="thumbnail">
                          <img
                            class="first-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                          <img
                            class="second-img"
                            th:src="@{'/static/images/'+${item.image}}"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-decs">
                        <h2>
                          <a
                            th:href="@{'/users/view/'+${item.productDetailId}+'&memory='+${item.memoryStorage.memoryStorageId}}"
                            class="product-link"
                            >[[${item.product.productName}]]</a
                          >
                        </h2>
                        <div class="pricing-meta">
                          <ul>
                            <li class="current-price">[[${#numbers.formatDecimal(item.unitPrice - item.unitPrice*item.discount/100, 0, 'COMMA', 0, 'POINT')}]]đ</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Catogery slider area End-->
      <!-- Brand area start -->
      <div class="brand-area mt-20px">
        <div class="container">
          <div class="brand-slider" >
            <div class="brand-slider-item" th:each="item : ${listBrands}">
              <a th:href="@{#}"
                ><img
                  class="img-responsive d-flex align-items-center justify-content-center"
                  th:src="@{'/static/images/brands/'+${item.image}}"
                  alt=""
                  style="height:30px;"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Brand area end -->
      <!-- category Area Start -->
      <div class="popular-categories-area mt-50px mb-50px">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h2 class="section-heading">Danh mục phổ biến</h2>
              </div>
            </div>
          </div>
          <div
            class="popular-category-slider-wrapper slider-nav-style-1 slider-nav-style-2"
          >
            <!-- single-item -->
            <div class="single-slider-item">
              <div class="thumb-category">
                <a th:href="@{/single-product.html}">
                  <img
                    th:src="@{/static/images1/popular-image/1.jpg}"
                    alt="product-image.jpg"
                  />
                </a>
              </div>
              <div class="category-discript">
                <h4>Phones & Accessories</h4>
                <ul>
                  <li><a th:href="@{#}">Hot Categories</a></li>
                  <li><a th:href="@{#}">Outerwear & Jackets</a></li>
                  <li><a th:href="@{#}">Weddings & Events</a></li>
                  <li><a th:href="@{#}">Bottoms</a></li>
                  <li><a th:href="@{#}">Tops & Sets</a></li>
                </ul>
                <a th:href="@{/shop-4-column.html}" class="view-all-btn"
                  >View All</a
                >
              </div>
            </div>
            <!-- single-item -->
            <div class="single-slider-item">
              <div class="thumb-category">
                <a th:href="@{/single-product.html}">
                  <img
                    th:src="@{/static/images1/popular-image/2.jpg}"
                    alt="product-image.jpg"
                  />
                </a>
              </div>
              <div class="category-discript">
                <h4>Home Audio</h4>
                <ul>
                  <li><a th:href="@{#}">Skirts</a></li>
                  <li><a th:href="@{#}">Leggings</a></li>
                  <li><a th:href="@{#}">Jeans</a></li>
                  <li><a th:href="@{#}">Pants & Capris</a></li>
                  <li><a th:href="@{#}">Shorts</a></li>
                </ul>
                <a th:href="@{/shop-4-column.html}" class="view-all-btn"
                  >View All</a
                >
              </div>
            </div>
            <!-- single-item -->
            <div class="single-slider-item">
              <div class="thumb-category">
                <a th:href="@{/single-product.html}">
                  <img
                    th:src="@{/static/images1/popular-image/3.jpg}"
                    alt="product-image.jpg"
                  />
                </a>
              </div>
              <div class="category-discript">
                <h4>Audio & Video</h4>
                <ul>
                  <li><a th:href="@{#}">Accessories & Parts</a></li>
                  <li><a th:href="@{#}">Audio & Video</a></li>
                  <li><a th:href="@{#}">Camera & Photo</a></li>
                  <li><a th:href="@{#}">Portable Audio & Video</a></li>
                  <li><a th:href="@{#}">Smart Electronics</a></li>
                </ul>
                <a th:href="@{/shop-4-column.html}" class="view-all-btn"
                  >View All</a
                >
              </div>
            </div>
            <!-- single-item -->
            <div class="single-slider-item">
              <div class="thumb-category">
                <a th:href="@{/single-product.html}">
                  <img
                    th:src="@{/static/images1/popular-image/4.jpg}"
                    alt="product-image.jpg"
                  />
                </a>
              </div>
              <div class="category-discript">
                <h4>Cameras</h4>
                <ul>
                  <li><a th:href="@{#}">Televisions</a></li>
                  <li><a th:href="@{#}">TV Receivers</a></li>
                  <li><a th:href="@{#}">Projectors</a></li>
                  <li><a th:href="@{#}">Audio Amplifier Boards</a></li>
                  <li><a th:href="@{#}">TV Sticks</a></li>
                </ul>
                <a th:href="@{/shop-4-column.html}" class="view-all-btn"
                  >View All</a
                >
              </div>
            </div>
            <!-- single-item -->
            <div class="single-slider-item">
              <div class="thumb-category">
                <a th:href="@{/single-product.html}">
                  <img
                    th:src="@{/static/images1/popular-image/1.jpg}"
                    alt="product-image.jpg"
                  />
                </a>
              </div>
              <div class="category-discript">
                <h4>Television & Video</h4>
                <ul>
                  <li><a th:href="@{#}">Wearable Devices</a></li>
                  <li><a th:href="@{#}">Handheld Game Players</a></li>
                  <li><a th:href="@{#}">Game Controllers</a></li>
                  <li><a th:href="@{#}">Joysticks</a></li>
                  <li><a th:href="@{#}">Stickers</a></li>
                </ul>
                <a th:href="@{/shop-4-column.html}" class="view-all-btn"
                  >View All</a
                >
              </div>
            </div>
            <!-- single-item end-->
          </div>
        </div>
      </div>
      <!-- category Area End -->
      <!-- <script type="text/javascript">
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
      </script> -->
    </section>
  </body>
</html>
