<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
  <body>
    <section
      class="main_content_iner overly_inner bg-white"
      layout:fragment="content"
      id="content"
    >
      <div class="container-fluid p-0">
        <div class="row z-index-form">
          <div class="col-12">
            <div
              class="page_title_box d-flex align-items-center justify-content-between"
            >
              <div class="page_title_left">
                <h3 class="f_s_30 display-4 f_w_700 text_white">Products</h3>
                <p class="lead text-light f_w_500">Products
                  Add, edit or delete a products
                </p>
              </div>
              <div class="serach_field-area d-flex align-items-center">
                <div class="search_inner">
                  <form th:action="@{/admin/products/search}">
                    <div class="search_field">
                      <input
                        type="text"
                        name="productName"
                        class="bg-white"
                        placeholder="Search products name..."
                      />
                    </div>
                    <button type="submit">
                      <img th:src="@{/static/img/icon/icon_search.svg}" alt="" />
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row card-body">
          <div class="col-md-5">
            <form
              th:action="@{/admin/products/saveOrUpdate}"
              method="post"
              th:object="${product}"
              enctype="multipart/form-data"
              class="d-flex"
            >
            <div>
              <input type="text" th:field="*{productId}" hidden />
              <div class="mb-4 input-object">
                <label for="productsName">Name</label>
                <input
                  type="text"
                  class="form-control"
                  th:field="*{productName}"
                  placeholder="Product Name..."
                  aria-describedby="nameHid"
                />
                <small
                  id="nameHid"
                  th:if="${#fields.hasErrors('productName')}"
                  class="form-text text-muted"
                  >Name is required</small
                >
              </div>
              <div class="">
                <div class="form-group d-flex justify-content-between mt-3 form-select-price">
                  <div class="form-group w-50 me-2">
                    <label for="">Category</label>
                    <select class="form-select form-control" name="" id="" th:field="*{categoryId}">
                      <option
                        th:each="item : ${listCategories}"
                        class="m-2"
                        th:value="${item.categoryId}"
                        th:text="${item.name}"
                        th:select="${item.categoryId == product.categoryId}"
                      ></option>
                    </select>
                  </div>
                  <div class="form-group w-50 me-2">
                    <label for="">Brand</label>
                    <select class="form-select form-control" name="" id="" th:field="*{brandId}">
                      <option
                        th:each="item : ${listBrands}"
                        class="m-2"
                        th:value="${item.brandId}"
                        th:text="${item.brandName}"
                        th:select="${item.brandId == product.brandId}"
                      ></option>
                    </select>
                  </div>
                  <div class="form-group w-50">
                    <label for="">Status</label>
                    <select class="form-select form-control" name="" id="" th:field="*{status}">
                      <option th:value="1">New</option>
                      <option th:value="0">Old</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  th:field="*{description}"
                  rows="3"
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn btn-outline-primary mt-3 w-100 mb-2"
              >
              <span th:if="${!product.isEdit}">Create</span>
              <span th:if="${product.isEdit}">Update</span>
              </button>
            </div>
              <div class="col-md-5 ps-3 pe-3">
                <div class="card">
                  <div class="card-header d-flex align-items-center bg-white">
                    <h4>Media</h4>
                  </div>
                  <div class="card-body">
                    <figure class="figure pt-3 pb-3 pe-5 ps-5">
                      <script>
                        function chooseFile(fileInput) {
                      if (fileInput.files && fileInput.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                          $("#image").attr("src", e.target.result);
                        };

                        reader.readAsDataURL(fileInput.files[0]);
                      }
                    }
                      </script>
                      <img th:if="${!product.isEdit}" src="/static/img/upload.svg" id="image" class="figure-img img-fluid rounded" alt="">
                      <img th:if="${product.isEdit}" th:src="@{'/static/images/products/'+${product.image}}" id="image" class="figure-img img-fluid rounded" alt="">
                    </figure>
                    <div class="form-group form-upload">
                      <input
                      onchange="chooseFile(this)"
                      type="file"
                      class="form-control-file"
                      name="imageFile"
                      id="imageFile"
                    />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-7 align-items-center">
            <table class="table table-responsive table-borderless table-hover">
              <thead class="table-success">
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Image</th>
                  <th>Product Name</th>
                  <!-- <th>Description</th> -->
                  <th>Category</th>
                  <th>Brand</th>
                  <th>Active</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item : ${listProducts}">
                  <td scope="row">
                    <input type="checkbox"/>
                  </td>
                  <td th:text="${item.productId}"></td>
                  <td>
                    <img th:src="@{'/static/images/products/'+${item.image}}" style="max-width: 100px;" alt="">
                  </td>
                  <td th:text="${item.productName}"></td>
                  <!-- <td th:text="${item.description}"></td> -->
                  <td th:text="${item.brand.brandName}"></td>
                  <td th:text="${item.category.name}"></td>
                  <td th:text="${item.status?'New':'Old'}"></td>
                  <td class="text-end">
                    <div class="dropdown dropstart">
                      <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                      </button>
                      <ul class="dropdown-menu p-0">
                        <li><a class="btn btn-outline-info d-block mt-2">Product Detail</a></li>
                        <li><a th:href="@{'/admin/products/edit/' + ${item.productId}}" class="btn btn-outline-warning d-block mt-2">Update</a></li>
                        <li><a th:href="@{'/admin/products/delete/' + ${item.productId}}" class="btn btn-outline-danger d-block mt-2">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
            <nav aria-label="Page navigation" class="mt-2">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a th:if="${currentPage > 1}" th:href="@{'/admin/brands/pagesearch/1'+'&productName='+${name}}" class="page-link" aria-label="Previous">
                    <span>First</span>
                  </a>
                  <span class="page-link" th:unless="${currentPage > 1}">First</span>
                </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/brands/pagesearch/' + ${currentPage - 1}+'&productName='+${name}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                  <span th:unless="${currentPage > 1}" class="page-link" aria-hidden="true">&laquo;</span>
                </li>
                <li th:class="${currentPage==i?'page-item active':'page-item'}" th:each="i: ${#numbers.sequence(1, totalPages)}">
                  <a class="page-link" th:if="${currentPage != i}" th:href="@{'/admin/brands/pagesearch/' + ${i}+'&productName='+${name}}">[[${i}]]</a>
                  <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/brands/pagesearch/' + ${currentPage + 1}+'&productName='+${name}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                  <span aria-hidden="true" class="page-link" th:unless="${currentPage < totalPages}">&raquo;</span>
                </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/brands/pagesearch/' + ${totalPages}+'&productName='+${name}}" aria-label="Next">
                    <span aria-hidden="true">Last</span>
                  </a>
                  <span class="page-link" aria-hidden="true" th:unless="${currentPage < totalPages}">Last</span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
