<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
  <body>
    <section
      class="main_content_iner overly_inner bg-white"
      layout:fragment="content"
      id="content"
    >
      <div class="container-fluid p-0">
        <div class="row z-index-form">
          <div class="col-12">
            <div
              class="page_title_box d-flex align-items-center justify-content-between"
            >
              <div class="page_title_left">
                <h3 class="f_s_30 display-4 f_w_700 text_white">Brands</h3>
                <p class="lead text-light f_w_500">
                  Add, edit or delete a brand
                </p>
              </div>
              <div class="serach_field-area d-flex align-items-center">
                <div class="search_inner">
                  <form th:action="@{/admin/brands/search}">
                    <div class="search_field">
                      <input
                        type="text"
                        name="brandName"
                        class="bg-white"
                        placeholder="Search brands name..."
                      />
                    </div>
                    <button type="submit">
                      <img th:src="@{/static/img/icon/icon_search.svg}" alt="" />
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row card-body">
          <div class="col-md-5">
            <form
              th:action="@{/admin/brands/saveOrUpdate}"
              method="post"
              th:object="${brand}"
              class="d-flex"
              enctype="multipart/form-data"
            >
              <div class="col-md-7">
                <input type="text" th:field="*{brandId}" hidden />
              <div class="mb-4 input-object">
                <label for="brandName">Name</label>
                <input
                  type="text"
                  class="form-control"
                  th:field="*{brandName}"
                  placeholder="Brand Name..."
                  aria-describedby="nameHid"
                />
                <small
                  id="nameHid"
                  th:if="${#fields.hasErrors('brandName')}"
                  class="form-text text-muted"
                  >Name is required</small
                >
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  th:field="*{description}"
                  rows="3"
                  placeholder="Description"
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn btn-outline-primary mt-3 w-100 mb-2"
              >
              <span th:if="${!brand.isEdit}">Create</span>
              <span th:if="${brand.isEdit}">Update</span>
              </button>
              </div>
              <div class="col-md-5 ps-3 pe-3">
                <div class="card">
                  <div class="card-header d-flex align-items-center bg-white">
                    <h4>Media</h4>
                  </div>
                  <div class="card-body">
                    <figure class="figure pt-3 pb-3 pe-5 ps-5">
                      <script>
                        function chooseFile(fileInput) {
                      if (fileInput.files && fileInput.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                          $("#image").attr("src", e.target.result);
                        };

                        reader.readAsDataURL(fileInput.files[0]);
                      }
                    }
                      </script>
                      <img th:if="${!brand.isEdit}" src="/static/img/upload.svg" id="image" class="figure-img img-fluid rounded" alt="">
                      <img th:if="${brand.isEdit}" th:src="@{'/static/images/brands/'+${brand.image}}" id="image" class="figure-img img-fluid rounded" alt="">
                    </figure>
                    <div class="form-group form-upload">
                      <input
                      onchange="chooseFile(this)"
                      type="file"
                      class="form-control-file"
                      name="imageFile"
                      id="imageFile"
                    />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-7 align-items-center">
            <table class="table table-responsive table-borderless table-hover">
              <thead class="table-success">
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th class="text-center">Brand Name</th>
                  <th class="text-center">Image</th>
                  <th>Description</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item : ${listBrands}">
                  <td scope="row">
                    <input type="checkbox"/>
                  </td>
                  <td th:text="${item.brandId}"></td>
                  <td th:text="${item.brandName}" class="text-center"></td>
                  <td class="text-center">
                      <img th:src="@{'/static/images/brands/'+${item.image}}" class="img-fluid" width="100px" alt="">
                  </td>
                  <td th:text="${item.description}"></td>
                  <td class="text-end">
                    <div class="dropdown dropstart">
                      <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                      </button>
                      <ul class="dropdown-menu p-0">
                        <li><a class="btn btn-outline-info d-block mt-2">Detail</a></li>
                        <li><a th:href="@{'/admin/brands/edit/' + ${item.brandId}}" class="btn btn-outline-warning d-block mt-2">Update</a></li>
                        <li><a th:href="@{'/admin/brands/delete/' + ${item.brandId}}" class="btn btn-outline-danger d-block mt-2">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
            <nav aria-label="Page navigation" class="mt-2">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a th:if="${currentPage > 1}" th:href="@{'/admin/brands/pagesearch/1'+'&brandName='+${name}}" class="page-link" aria-label="Previous">
                    <span>First</span>
                  </a>
                  <span class="page-link" th:unless="${currentPage > 1}">First</span>
                </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/brands/pagesearch/' + ${currentPage - 1}+'&brandName='+${name}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                  <span th:unless="${currentPage > 1}" class="page-link" aria-hidden="true">&laquo;</span>
                </li>
                <li th:class="${currentPage==i?'page-item active':'page-item'}" th:each="i: ${#numbers.sequence(1, totalPages)}">
                  <a class="page-link" th:if="${currentPage != i}" th:href="@{'/admin/brands/pagesearch/' + ${i}+'&brandName='+${name}}">[[${i}]]</a>
                  <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/brands/pagesearch/' + ${currentPage + 1}+'&brandName='+${name}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                  <span aria-hidden="true" class="page-link" th:unless="${currentPage < totalPages}">&raquo;</span>
                </li>
                <li class="page-item">
                  <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/brands/pagesearch/' + ${totalPages}+'&brandName='+${name}}" aria-label="Next">
                    <span aria-hidden="true">Last</span>
                  </a>
                  <span class="page-link" aria-hidden="true" th:unless="${currentPage < totalPages}">Last</span>
                </li>
              </ul>
            </nav>
            <div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
