<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head></head>
  <body>
    <div th:fragment="nav">
      <nav
      class="sidebar vertical-scroll ps-container ps-theme-default ps-active-y"
    >
      <div class="logo d-flex justify-content-between">
        <a th:href="@{/index.html}"><img th:src="@{/static/images1/logo/logo.png}" alt="" /></a>
        <div class="sidebar_close_icon d-lg-none">
          <i class="ti-close"></i>
        </div>
      </div>
      <ul id="sidebar_menu">
        <li class="mm-active">
          <a class="" href="#" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
            <span>Products</span>
          </a>
          <ul>
            <!-- <li><a th:href="@{/admin/categories/}">Categories</a></li>
            <li><a th:href="@{/admin/brands/}">Brand</a></li>
            <li><a th:href="@{/admin/colors/}">Color</a></li>
            <li><a th:href="@{/admin/products/}">Product</a></li> -->
            <li><a th:href="@{/admin/productDetails/}">List Product Detail</a></li>
            <li><a th:href="@{#}">Grid Product Detail</a></li>
          </ul>
        </li>
        <li class="">
          <a class="has-arrow" th:href="@{/list-order-admin}" aria-expanded="false">
            <span>Đơn đặt hàng</span>
          </a>
        </li>
        <li class="">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-percent" aria-hidden="true"></i>
            </div>
            <span>Sellers</span>
          </a>
          <ul>
            <li><a href="Basic_Elements.html">Sellers cards</a></li>
            <li><a href="Groups.html">Sellers list</a></li>
            <li><a href="Max_Length.html">Sellers profile</a></li>
          </ul>
        </li>
        <li class="">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
            </div>
            <span>Add product</span>
          </a>
          <ul>
            <li><a th:href="@{/admin/categories/}">Categories</a></li>
            <li><a th:href="@{/admin/brands/}">Brand</a></li>
            <li><a th:href="@{/admin/colors/}">Color</a></li>
            <li><a th:href="@{/admin/products/}">Product</a></li>
            <li><a th:href="@{/admin/productDetails/}">Product Detail</a></li>
          </ul>
        </li>
        <li class="">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-address-card" aria-hidden="true"></i>
            </div>
            <span>Transactions</span>
          </a>
          <ul>
            <li><a href="Basic_Elements.html">Transaction 1</a></li>
            <li><a href="Basic_Elements.html">Transaction 2</a></li>
          </ul>
        </li>
        <li class="">
          <a class="" href="#" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <span>Roles</span>
          </a>
        </li>
        
        <li class="">
          <a href="calender.html" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-comment" aria-hidden="true"></i>
            </div>
            <span>Reviews</span>
          </a>
        </li><li class="">
          <a href="calender.html" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <span>Brands</span>
          </a>
        </li><li class="">
          <a href="calender.html" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <span>Statistics</span>
          </a>
        </li>
        <li class="">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-wrench" aria-hidden="true"></i>
            </div>
            <span>Settings</span>
          </a>
          <ul>
            <li><a href="Basic_Elements.html">Setting sample 1</a></li>
            <li><a href="Basic_Elements.html">Setting sample 2</a></li>
          </ul>
        </li>
        <li class="">
          <a href="calender.html" aria-expanded="false">
            <div class="icon_menu">
              <i class="fa fa-file" aria-hidden="true"></i>
            </div>
            <span>Starter page</span>
          </a>
        </li>
    </nav>
    </div>
  </body>
</html>
