<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head></head>
  <body>
    <section
      class="main_content_iner overly_inner bg-white"
      layout:fragment="content"
      id="content"
    >
      <div class="container-fluid p-0">
        <div class="row z-index-form">
          <div class="col-12">
            <div
              class="page_title_box d-flex align-items-center justify-content-between"
            >
              <div class="page_title_left">
                <h3 class="f_s_30 display-4 f_w_700 text_white">Colors</h3>
                <p class="lead text-light f_w_500">
                  Add, edit or delete a color
                </p>
              </div>
              <div class="serach_field-area d-flex align-items-center">
                <div class="search_inner">
                  <form th:action="@{/admin/colors/search}">
                    <div class="search_field">
                      <input
                        type="text"
                        name="colorName"
                        class="bg-white"
                        placeholder="Search color code..."
                      />
                    </div>
                    <button type="submit">
                      <img
                        th:src="@{/static/img/icon/icon_search.svg}"
                        alt=""
                      />
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row card-body">
          <div class="col-md-5">
            <form
              th:action="@{/admin/colors/saveOrUpdate}"
              method="post"
              th:object="${color}"
              enctype="multipart/form-data"
            >
              <div class="col-md-7">
                <input type="text" th:field="*{colorId}" hidden />
                <div class="mb-4 input-object">
                  <label for="colorName">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{colorName}"
                    placeholder="Color Name..."
                    aria-describedby="colorNameHid"
                  />
                  <small
                    id="colorNameHid"
                    th:if="${#fields.hasErrors('colorName')}"
                    class="form-text text-muted"
                    >Name is required</small
                  >
                </div>
                <div class="input-object">
                  <label for="color">Choose Color</label>
                </div>
                <input
                  type="color"
                  name="color"
                  id=""
                  class="mb-4 choose-color"
                />
                <div class="mb-4 input-object">
                  <label for="colorCode">Color code</label>
                  <input
                    type="text"
                    class="form-control"
                    name="colorCode"
                    th:field="*{colorCode}"
                    id="color-code"
                    placeholder="Color code..."
                  />
                </div>
                <small
                  id="colorCodeHid"
                  th:if="${#fields.hasErrors('colorCode')}"
                  class="form-text text-muted"
                  >Name is required</small
                >
                <button
                  type="submit"
                  class="btn btn-outline-primary mt-3 w-100 mb-2"
                >
                  <span th:if="${!color.isEdit}">Create</span>
                  <span th:if="${color.isEdit}">Update</span>
                </button>
              </div>
              <!-- <div class="col-md-5 ps-3 pe-3">
                <div class="card">
                  <div class="card-header d-flex align-items-center bg-white">
                    <h4>Media</h4>
                  </div>
                  <div class="card-body">
                    <figure class="figure pt-3 pb-3 pe-5 ps-5">
                      <script>
                        function chooseFile(fileInput) {
                          if (fileInput.files && fileInput.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                              $("#image").attr("src", e.target.result);
                            };

                            reader.readAsDataURL(fileInput.files[0]);
                          }
                        }
                      </script>
                      <img
                        th:if="${!color.isEdit}"
                        src="/static/img/upload.svg"
                        id="image"
                        class="figure-img img-fluid rounded"
                        alt=""
                      />
                      <img
                        th:if="${color.isEdit}"
                        th:src="@{'/static/images/colors/'+${color.image}}"
                        id="image"
                        class="figure-img img-fluid rounded"
                        alt=""
                      />
                    </figure>
                    <div class="form-group form-upload">
                      <input
                        onchange="chooseFile(this)"
                        type="file"
                        class="form-control-file"
                        name="imageFile"
                        id="imageFile"
                      />
                    </div>
                  </div>
                </div>
              </div> -->
            </form>
          </div>
          <div class="col-md-7 align-items-center" style="margin-left: -10%">
            <table class="table table-responsive table-borderless table-hover">
              <thead class="table-success">
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Code</th>
                  <!-- <th>Image</th> -->
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item : ${listColors}">
                  <td scope="row">
                    <input type="checkbox" />
                  </td>
                  <td th:text="${item.colorId}"></td>
                  <td th:text="${item.colorName}"></td>
                  <td th:text="${item.colorCode}"></td>
                  <!-- <td>
                    <img
                      th:src="@{'/static/images/colors/'+${item.image}}"
                      class="img-fluid"
                      width="100px"
                      alt=""
                    />
                  </td> -->
                  <td class="text-end">
                    <div class="dropdown dropstart">
                      <button
                        class="btn btn-outline-primary"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        ...
                      </button>
                      <ul class="dropdown-menu p-0">
                        <!-- <li><a class="btn btn-outline-info d-block mt-2">Detail</a></li> -->
                        <li>
                          <a
                            th:href="@{'/admin/colors/edit/' + ${item.colorId}}"
                            class="btn btn-outline-warning d-block mt-2"
                            >Update</a
                          >
                        </li>
                        <li>
                          <a
                            th:href="@{'/admin/colors/delete/' + ${item.colorId}}"
                            class="btn btn-outline-danger d-block mt-2"
                            >Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            Total Items: [[${totalItems}]] - Page [[${currentPage}]] of
            [[${totalPages}]]
            <nav aria-label="Page navigation" class="mt-2">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a
                    th:if="${currentPage > 1}"
                    th:href="@{'/admin/colors/page/1'}"
                    class="page-link"
                    aria-label="Previous"
                  >
                    <span>First</span>
                  </a>
                  <span class="page-link" th:unless="${currentPage > 1}"
                    >First</span
                  >
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    th:if="${currentPage > 1}"
                    th:href="@{'/admin/colors/page/' + ${currentPage - 1}}"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                  <span
                    th:unless="${currentPage > 1}"
                    class="page-link"
                    aria-hidden="true"
                    >&laquo;</span
                  >
                </li>
                <li
                  th:class="${currentPage==i?'page-item active':'page-item'}"
                  th:each="i: ${#numbers.sequence(1, totalPages)}"
                >
                  <a
                    class="page-link"
                    th:if="${currentPage != i}"
                    th:href="@{'/admin/colors/page/' + ${i}}"
                    >[[${i}]]</a
                  >
                  <span class="page-link" th:unless="${currentPage != i}"
                    >[[${i}]]</span
                  >
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    th:if="${currentPage < totalPages}"
                    th:href="@{'/admin/colors/page/' + ${currentPage + 1}}"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                  <span
                    aria-hidden="true"
                    class="page-link"
                    th:unless="${currentPage < totalPages}"
                    >&raquo;</span
                  >
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    th:if="${currentPage < totalPages}"
                    th:href="@{'/admin/colors/page/' + ${totalPages}}"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">Last</span>
                  </a>
                  <span
                    class="page-link"
                    aria-hidden="true"
                    th:unless="${currentPage < totalPages}"
                    >Last</span
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
